<script>
    import CompB from './CompB.vue'
    import {onMounted} from 'vue'
    export default {

        data() {
            return {
                fontSize:1,
                firstname:'Ruchi',
                lastname:'Patel',
                greetingMsg:'Good morning',
                age:'20',
                division:'Computer Engineering',
                isCompleted:true,
                arrayData:[
                    {
                        id:1,
                        firstname:'Ruchi',
                        lastname:'Patel',
                        greetingMsg:'Good morning',
                        age:20,
                        division:'Computer Engineering',
                        isCompleted:true,

                    },
                    {
                        id:2,
                        firstname:'Palsu',
                        lastname:'Patel',
                        greetingMsg:'Good morning',
                        age:21,
                        division:'Electrical Engineering',
                        isCompleted:false,
                    },
                    {
                        id:3,
                        firstname:'Khushbu',
                        lastname:'Patel',
                        greetingMsg:'Good morning',
                        age:20,
                        division:'Nursing',
                        isCompleted:true,
                    },
                ]
                
            }
        },
        methods: {
            displayData(){
                console.log(this.arrayData[1].isCompleted)
            },
            changename(){
                this.arrayData[0].firstname='Patel'
            }
           
        },
        components:{
            CompB
        }
    }
</script>
<template>
    <h1 @click="displayData">CompA</h1>
    <CompB  :firstname='this.firstname' :lastname="this.lastname" :greetingMsg="this.greetingMsg" :age="this.age" :division='this.division'  />   
    <h1>Using Array</h1>
    <div v-for="data in arrayData" >
        <div v-if="data.isCompleted" >
            <CompB :firstname='data.firstname' :lastname="data.lastname" :greetingMsg="data.greetingMsg" :age="data.age" :division='data.division' />
        </div>
    </div>
    <h3>direct pass data</h3>
   
    <div v-for="data in arrayData"  :style="{fontSize:fontSize + 'rem'}">
        <div v-if="data.isCompleted" >
            <CompB v-bind='data' @increaseBy='fontSize+=1' @decrementBy.once='fontSize-=1' @changeName='changename'/>
        </div>
    </div>
   
</template>
