<script >
    // const props = defineProps(['name'])
    export default {
        props:['firstname','lastname','greetingMsg','age','division'],
        setup(props) {
            console.log(props.firstname)
            console.log(props.greetingMsg)
        }
    }

</script>
<template>
    <div class="compB">
        <h1>CompB: </h1>
        <div>{{greetingMsg}}</div>
        <div>Your name is {{firstname}} {{lastname}}</div>
        <div>Your in {{division}} this division</div>
        <button @click="$emit('increaseBy')">
            Increase font size by 1rem
        </button>
        <button @click="$emit('decrementBy')">
            Decrece font size by 1rem
        </button>
        <button @click="$emit('changeName')">
            Change name 
        </button>
    </div>
</template>

<style >
    .compB{
        background-color:rgb(255, 81, 0);
        margin:10px;
        color:white;
    }
</style>