<script>
    export default{
        data() {
            return {
                todos:['Learning react','Learning Vue js','Learning Nuxt js']
            }
        },
        methods:{
            consoleLog(todo){
                console.log(todo);
            }
        }
    }
</script>
<template>
    <div>
        <client-only>
            <ul v-for="todo in todos">
            <li>{{todo}}</li>
            <li>{{consoleLog(todo)}}</li>
        </ul>
        </client-only>
    </div>
</template>