<script>
import PostComponent from '~/components/PostComponent.vue';
import axios from 'axios'
    export default{
    async asyncData({ params, $http ,$axios,$hello,$config}) {
        $hello('AsyncData ')
        console.log($config.privatePassword);
       
        // const post = await $http.$get(`https://api.nuxtjs.dev/posts/${params.id}`);
        const post = await $axios.$get(`${$config.axios.baseURL}/posts/${params.id}`);
        // const {data:post} = await axios.get(`https://api.nuxtjs.dev/posts/${params.id}`);
        return { post };
    },
    components: { PostComponent },
    
}
</script>
<template>
    <div>
        <!-- <div>{{post.id}}  {{post.title}}</div> -->
        <div> This is access from .env file publicRuntimeConfig :{{this.$config.axios.baseURL}}</div>
        <PostComponent :post='post'/>
    </div>
</template>
