<script>
    export default{
        async asyncData({params,$http,$axios}) {
            // const posts = await $http.$get(`https://api.nuxtjs.dev/posts`)
            const posts = await $axios.$get(`https://api.nuxtjs.dev/posts`)
            return { posts }
        }
    }
</script>
<template>
    <div>
        
        <div>{{posts}}</div>
    </div>
</template>