<script>
import { mapActions, mapGetters } from 'vuex';

    export default{
        name:'Todos',
        computed:{
            ...mapGetters([
                'allTodos'
            ])
        },
        methods:{
            ondblclick(todo){
               const updateTodo = {
                id:todo.id,
                title:todo.title,
                completed:!todo.completed
               }
               this.updateTodo(updateTodo)
            },
            ...mapActions([
                'fetchTodos','deleteTodo','updateTodo'
            ])
        },
        created(){
            this.fetchTodos()
        }
    }
</script>
<template>
    <h1>Todos</h1>
    <div class="legend">
        <span>Double click to mark as completed</span>
        <span>
            <span class="incomplete-box"></span> = InComplete
        </span>
         <span>
            <span class="complete-box"></span> = Complete
        </span>
    </div>
    <div class="todos">
        <div v-for="todo in allTodos" :key="todo.id" class="todo" v-bind:class="{'is-completed':todo.completed}" @dblclick="ondblclick(todo)">
            {{todo.title}}
            <i class="fas fa-trash-alt" @click="deleteTodo(todo.id)"></i>
        </div>
    </div>
</template>
<style scoped>
.todos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:1rem;
}
.todo{
    border: 1px solid #ccc;
    background-color: #41b883;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
i{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
}
.legend{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.complete-box{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color:#35495e;

}
.incomplete-box{
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color:#41b883;

}
.is-completed{
    background: #35495e;
    color: #fff;
}
@media screen and (max-width:500px) {
    .todos{
        grid-template-columns: 1fr;
    }
}
</style>