<script lang="ts" setup>
import { Options, Vue } from 'vue-class-component';
import TodoInput from './components/TodoInput.vue';
import TodoList from './components/TodoList.vue';
import OptionalApi from './components/OptionalApi.vue';
import CompositionApi from './components/CompositionApi.vue';
import { key } from './store';
import { useStore } from 'vuex';
// @Options({
//   components: {
//     TodoInput,
//     TodoList,
//     OptionalApi,
//     CompositionApi,
//   },
// })
// export default class App extends Vue {
//   public title = 'Vue js + Typescript'
//   public numberTitle = 123
// }
const store = useStore(key)
const title :string = 'Vue js + Typescript'
const numberTitle:number = 123
</script>

<template>
  <h1>{{title}}</h1>
  <h1>Number Title :{{numberTitle}}</h1>
  <TodoInput />
  <TodoList />
  <OptionalApi />
  <CompositionApi />
  <h3>{{store.state.todos}}</h3>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
