<script setup lang="ts">
import { inject, onMounted, provide, reactive, ref } from 'vue';
import type { InjectionKey} from 'vue'
import type { Ref } from 'vue';
import CompositionChild from './CompositionChild.vue';
import { HtmlAttributes } from 'csstype';

    interface Book {
        title:string,
        year:number,
    }
    const count = ref(0)
    const year:Ref<number | string > = ref(2022)
    const num = ref<string | number >('20')
    const inputRef = ref< HTMLInputElement | null >(null)
    provide('foo','provided key using injectionkey')
    onMounted(() => {
        inputRef.value?.focus()
    })
    const book:Book = reactive(
        {title:'Hello Reactive',year:10}
    )
    const Clgupdate = (foo:string) => {
        console.log(foo)
    }
   const ClgupdateUsingEmitVar = (bar:number) => {
        console.log(bar)
   }
   const changeYearRef = () => {
        // year.value = '2020' // type string is not assign to number
        console.log(year)
        console.log(num)
        year.value = '2022' //const year: Ref<string | number>
        num.value = 20
        console.log(year)
        console.log(num)
   }
   const handleChange = (e:Event) => {
    console.log(((e.target) as HTMLInputElement).value)
   }
</script>
<template>
    <h1>Count from Composition api : {{count}}</h1>
    <div>Composition child to pass props:
        <CompositionChild foo='Hello Ruchi' :bar='count'/>
        <CompositionChild foo="Hello Second child" :bar=3 />
        <CompositionChild foo="foo as string and bar as number or string" :bar=4 @update = 'Clgupdate' @updateUsingEmitVar ='ClgupdateUsingEmitVar'/>
        <button @click="changeYearRef" >Change year ref</button>
        <div>Reactive</div>
        <div>book Value : {{book.title}}</div>
        <div>Typing Event Handler</div>
        <input type="text" @change="handleChange" ref='inputRef' />
    </div>
</template>