<script setup lang="ts">
    // const props = defineProps({
    //     foo : {type:String,require:true},
    //     bar: Number
    // })

import { inject, Prop } from 'vue';
// import { useStore } from 'vuex';
import {key} from '../store'
    // const props = defineProps<{
    //     foo:String,
    //     bar ?: Number
    // }>()

    interface Props{
        foo:string,
        bar?:number
    }
    // const props = defineProps<Props>()
    const { foo,bar = 100 } = defineProps<Props>()
    const emit = defineEmits(['updateUsingEmitVar'])
    // const store = useStore(key)
    // console.log(store.state.todos)
    const updateMsg = () => {
        emit('updateUsingEmitVar',bar)
    }
    // const val = inject<string>('foo')
    const val = inject('foo') as String
    console.log(val)
</script>
<template>
    <!-- <h1>Foo :{{props.foo}}</h1>
    <h1>Bar : {{props.bar}}</h1> -->
    <h1>Foo :{{foo}}</h1>
    <h1>Bar : {{bar}}</h1>
    <button @click="$emit('update',foo)">CLick </button>
    <!-- <button @click="emit('updateUsingEmitVar',bar)">updateUsingEmitVar</button> -->
    <button @click="updateMsg">updateUsingEmitVar</button>
</template>