<script lang="ts">
import { defineComponent } from 'vue';
import OptionalChild from './OptionalChild.vue';
    export default defineComponent({
           
            data(){
                return {
                    count:1,
                    message:'Good Morning',
                    book:{title:'Rich dad poor dad',author:'K.B.bhatt',year:1920}
                }
            },
            computed:{
                greeting() :string{
                    return this.message + '!'
                },
                //get error becasue circular interference of loops
                // greetingUpearCase(){
                //     get(): string{
                //         return this.greeting.toUpperCase()
                //     },
                //     set(newVal : string) {
                //         this.message = newVal.toUpperCase()
                //     }
                // }
            },
            methods:{
                update(count:number){
                    console.log(count)
                    this.count = count
                },
                
            },
            components:{
                OptionalChild
            }
    })
</script>
<template>
    <h1>{{count}}</h1>
    <OptionalChild :count='count' @update='update' :book='book' />
    <div>greeting : {{greeting}}</div>
</template>