<script lang="ts">
import { defineComponent, PropType } from 'vue';
    interface Book {
        title:string,
        author:string,
        year:number
    }
    export default defineComponent({
        //  emits:['update'],
        
        props:{
            count:Number,
            book:{
                type :Object as PropType<Book>,
                require:true
            }
        },
        methods:{
            changeparentcount(){
                // this.$emit('update',12)  
                this.$emit('addBook', {count:10})
            }
        },
        setup(props){
           console.log(props.count)
        }
    })
</script>
<template>
    <h1>Optional Api child</h1>
    <div>Count : {{count}}</div>
    <button @click="changeparentcount">Click to change parent count</button>
    <div >{{book}}</div>
</template>