<script lang="ts">
    import { Vue } from 'vue-class-component';
    import {store} from '../store';
    export default class TodoInput extends Vue{
        public newTodo = '';

        public addTodo ():void {
            store.dispatch('addTodo',this.newTodo)
            // this.newTodo = 0 Type number in not assignable to type string    
            this.newTodo = '';
         }
    }
</script>
<template>
    <h1>Todo Input</h1>
    <form @submit.prevent="addTodo">
        <input type="text" v-model="newTodo" />
        <input type="submit" value="Add To do"/>
    </form>
</template>
<style>

</style>