<script lang="ts">
import { Options, Vue } from 'vue-class-component';
    @Options({
        props:['todo'],
         methods: {
            deleteTodo():void{
                this.$store.dispatch('deleteTodo',this.todo)
            }
        },
    })
    export default class Todo extends Vue{}
</script>
<template>
    <div class="todo">
        <span>{{todo}}</span>
        <button @click="deleteTodo" >Delete</button>
    </div>
</template>

<style scoped>
    .todo{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 20px;
        border-bottom: 1px solid #ccc;
    }
</style>