<script lang="ts" setup>
import { Options, Vue } from 'vue-class-component';
import { useStore } from 'vuex';
import {key} from '../store'
import Todo from './Todo.vue';

const store = useStore(key)
</script>
<template>
    <div>
        <Todo v-for="(todo ,index) in store.state.todos" :key="index" :todo='todo'/>
    </div>
</template>