<script >
export default {
    name: 'Button',
    props: ['text', 'color'],
    methods: {
        handleToggle() {
            this.$nuxt.$emit('toggleAddTask')
        }
    }
}
</script>
<template>
    <button class="btn" :style="{background:color}" @click="handleToggle">{{text}}</button>
</template>
<style >

</style>