<script>

</script>
<template>
    <div class="footerContainer">
        <div>Copyright &#169; 2022</div>
        <NuxtLink to="/about">About</NuxtLink>
    </div>
</template>
<style scoped>
.footerContainer {
    text-align: center;
    padding-top: 10px;
}
</style>