<script>
import Button from './Button.vue';
export default {
    name: "Header",
    props: ['title', 'showAddTask'],
    components: { Button },
    computed: {
        homePage() {
            if (this.$route.path === '/') {
                return true
            }
            else {
                return false
            }
        }

    },
}
</script>
<template>
    <header>
        <h1>{{title}}</h1>
        <Button v-show="homePage" :text="showAddTask ? 'Close' : 'Add Task'" :color="showAddTask ? 'red': 'green'" />
    </header>
</template>
<style scoped>
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
</style>