<script>
export default {
    props: ["task"],
    methods: {
        handleDbclick(id) {
            this.$store.commit('toggleReminder', id)
        },
        handleDelete(id) {
            console.log('using emit event')
            if (confirm('Are you sure? ')) {
                this.$store.commit('removeTask', id)
            }
        }
    },

}
</script>
<template>
    <div :class="[task.reminder ? 'reminder' : '', 'task']" @dblclick="handleDbclick(task.id)">
        <div>
            <div>{{ task.text }}</div>
            <div>{{task.day}}</div>
            
        </div>
        <!-- <Button text="Delete" color='red' @click='handleDelete(task.id)' /> -->
        <!-- <button class="del-btn" type="button">Delete</button> -->
        <i class="fas fa-times del-btn" @click="handleDelete(task.id)"></i>

    </div>
</template>
<style scoped>
.task {
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task.reminder {
    border-left: 5px solid green;
}

.task div {
    display: block;
    padding: 5px 0;
}

.del-btn {
    color: red;
    border: none;
    border-radius: 5px;
    font-size: 25px;
}
</style>