<script>
    import {mapState} from 'vuex'
    export default{
       
        computed:{
            ...mapState(['tasks'])
        }
    }
</script>
<template>
     <div v-if="tasks">
       <div v-for="task in tasks">
            <Task :task='task'/>
       </div>
    </div>
</template>