<script>
export default {
  data: () => ({
    title: 'About',
    description: 'My About page',
    count:0
  }),
  head () {
    return {
      title: this.title,
      meta: [{
        hid: 'description',
        name: 'description',
        content: this.description
      }]
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 2000)
    })
  },
  // middleware:'serverMiddleware'
}
</script>
<template>
    <div>
      <button @click="count++">Count {{count}}</button>
      <NuxtLink to="/">Go to Home</NuxtLink>
      <div>
        <NuxtLink to="/about" exact>About</NuxtLink>
        <NuxtLink to="/About/AboutChild" >About Child</NuxtLink>
      </div>
      <div class="nuxtchild">
        <NuxtChild />
      </div>
      <div class='aboutuspage'>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
          <h1>About us page</h1>
      </div>
    </div>
</template>
<style scoped lang="scss">
  .nuxtchild{
    width: 300px;
    height: 200px;
    background-color: white;
  }
  .aboutuspage{
    h1{
      background-color: red;
      color:white
    }
  }
</style>