<template>
    <h1>Special state in `window.__NUXT__`</h1>
  </template>
  
  <script>
  export default {
    fetch ({ isServer, beforeNuxtRender }) {
      if (isServer) {
        beforeNuxtRender(({components, nuxtState }) => {
            console.log(components);
          nuxtState.test = true
          console.log(nuxtState);
        })
      }
    }
  }
  </script>