<template>
    <div>
        <div>commentsPlaceholder</div>
        <client-only placeholder="Loading...">
        <!-- this component will only be rendered on client-side -->
            Loading  
        </client-only>
    </div>
</template>