<script>
    export default {
        // asyncData() {
        //     return {content:'Date is :' + new Date()}
        // },

        asyncData() {
            return {
                //if user navigate to nuxtLink through then client and direct like localhost/ContextandHelper then server
                renderOn:process.client ? 'Client' : 'Server'
            }
        },
        head(){
            return{
                title:'Context and Helper',
                meta:[{
                    name:'context and helper',
                    content:'Context and Helper'
                }]
            }
        },
        methods:{
            refresh(){
                // can't reload the full page only content reload 
                this.$nuxt.refresh()
            },
        },
        mounted() {
            //loading display 
            this.$nextTick(() =>{
                this.$nuxt.$loading.start()
                setTimeout(() => {
                    this.$nuxt.$loading.finish()
                }, 1000);
            })
            //application is loaded and is ready to used 
            // window.onNuxtReady(() => {
            //     console.log('Nuxt is ready and mounted');
            // })    
        }
       
    
    
    }

</script>

<template>
    <div>
        <h1>Context and helper page</h1>
        <!-- <div>Refresh content : {{content}}</div> -->
        <div>Process helper : {{renderOn}}</div>
        <button @click="refresh">Click to refresh the date</button>
    </div>
</template>