<script>
    export default{
        data() {
            return {
                count:0
            }
        },
        head(){
            return {
                title:'Contact-us',
                meta:[{
                    hid:'contact us',
                    content:'contact us'
                }]
            }
        }
    }
</script>
<template>
    <div>
        <button @click="count++">Count {{count}}</button>
        <nuxt-link to="/">Go to Home</nuxt-link>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
        <h1>Contact us page</h1>
    </div>
</template>