<script >
    export default{
        layout:'CustomLayout',
        layout(context){
            return 'CustomLayout'
        }
    }
</script>
<template>
    <div>
        <h4>Pages inside CusLayout</h4>
    </div>
</template>