<template>
  <div>
    <Tutorial/>
    <div>
      <!-- <img src="~/assets/Images/download.png" /> -->
      <!-- after alias set -->
      <img src="~images/download.png" />
    </div>
    <div>
      <NuxtLink to="/about">Goto about name middle ware to run serverMiddleware</NuxtLink>
    </div>
    <div>
      <NuxtLink to="/Contactus">Go to contact us page</NuxtLink>
    </div>
    <!-- img access inside css folder '~assets/Images/download.png' -->
    <div class="imageContainer"></div>
    <!-- Dynamic img  used require -->
    <!-- <img :src="require('~/assets/Images/.png') " /> -->
    <img :src="require(`~/assets/Images/${imageName}.png`)"/>
    <div>
      <div class="fontSize">Context and Helper</div>
      <NuxtLink to="/ContextandHelper">Go to Context and Helper</NuxtLink>
    </div>
    <div>
      <div class="fontSize">Server side rendering</div>
      <NuxtLink to="/SSR">Go to Server side rendering</NuxtLink>
    </div>
    
    <div>
      <div class="fontSize">Data Fetching using fetch()</div>
      <NuxtLink to="/DataFetchingforFetch">Go to Data Fetchingfetch</NuxtLink>
    </div>
    <div>
      <div class="fontSize">Data Fetching using asyncData()</div>
      <NuxtLink to="/DataFetchingforAsyncData">Go to DataFetchingAsyncData</NuxtLink>
    </div>
    <div>
      <div class="fontSize">Configuration</div>
      <NuxtLink to="/Configuration">Go to Configuration</NuxtLink>
    </div>
    <div>
      <NuxtLink to="/Parent">Parent using Nuxt child</NuxtLink>
    </div>
    <div>
      <a href="https://nuxtjs.org">External Link to another page</a>
    </div>
    <NuxtLink to="/about" no-prefetch >About page not pre-fetched</NuxtLink>
    <NuxtLink to="/about" :prefetch="false">About page not pre-fetched</NuxtLink>
    <NuxtLink to="/Contactus" prefetch>Contact us pre-fetched</NuxtLink>
    <div>
      <NuxtLink to="/ClientOnlyComp/clientonlycomp">Client only component</NuxtLink>
    </div>
     <client-only>
        <template #placeholder>
          <CommentsPlaceholder />    
        </template>
     </client-only>
     <div>
      <!-- which is like FooBarButton -->
        <BarButton /> 
     </div>
     <div>
      <NuxtLink to="/lazymountaines">LazyMountaines (Lazy loading)</NuxtLink>
     </div>
     <div>  
        <button @click="onclickarticles">Button articles</button>
     </div>
     <!-- <nuxt-content :document="articles" /> -->
     <my-button >My-button</my-button>
     <div>
        <NuxtLink to="/CusLayout">Go to my Custom layout</NuxtLink>
     </div>
     <div>
        <h1>Name Middleware</h1>
        <NuxtLink to="/Secret">Go to Secret page using</NuxtLink>
        <MyButton @click="changeAuth">Click to change authentication = true</MyButton>
     </div>
      <div>
        <h1>Plugins</h1>
        <button v-tooltip.top-center="msg">Hover me</button>
      </div>
      <div>
          <h1>Static folder img</h1>
          <img src="/download.png" />
      </div>
      <div>
        <h1>Store Directory</h1>
        <div>Counter {{this.$store.state.counter.counter}}</div>
        <button @click="increment">Increment</button>
        <div>Card Items {{this.$store.state.cart.cartItems}}</div>
        <button @click="increment">Increment cart Items</button>
      </div>
      <div>
        <NuxtLink to="/DataFetchingforAsyncData/x">➡ Click to see axios redirect us</NuxtLink>
      </div>      
      <div>
          <h1>Nuxt server init  nuxtServerInit</h1>
          <div v-for="titlee in titles">
            <div>{{titlee.id}}  {{titlee.title}}</div>
          </div>
      </div>
      <div>
        <button @click="console">CLick {{$config.baseURL}} {{$config.privatePassword}}</button>
      </div>
      <div>
        
        <ul v-for="(mountain,index) in mountains" :key="index">
          <li>{{mountain.title}}</li>
        </ul>
      </div>
      <div>
        <div class="fontSize">Before nuxt render</div>
        <NuxtLink to="/beforeNuxtrender">go to Before nuxt rendere</NuxtLink>
      </div>
  </div>
</template>

<script>
import CommentsPlaceholder from '~/pages/CommentsPlaceholder.vue'
import Button from '~/components/base/bar/Button.vue';
import {mapState,mapGetters} from 'vuex'
export default {
    name: "IndexPage",
    // transition:'home',
    //  layout:'CustomLayout',
    scrollToTop: true,
    watchQuery:true,
   
    data() {
        return {
            title: "Home Page",
            description: "Home page ",
            imageName:'download',
            article:'',
            msg: 'Vue tooltip plugin'
        };
    },
    computed:{
      ...mapState(['titles']),
      ...mapGetters(['announce'])
    },
    head() {
        return {
            title: this.title,
            meta: [{
                    hid: "description",
                    name: "description",
                    content: this.description
                }]
        };
    },
    key(route) {
        return route.fullPath;
    },
    methods:{
      async onclickarticles() {
      const article = await this.$content('articles').search('title', 'welcome').fetch()
      console.log(article);
      },
      changeAuth(){
        this.$store.state.counter.authentication = true
      },
      increment(){
        this.$store.commit('counter/increment')
        this.$store.commit('cart/incrementCartItems')
      },
      console(){
        console.log(process.env.NUXT_ENV_BASE_URL);
        console.log(process.env.NUXT_ENV_USERNAME);
        console.log(this.$config.baseURL);
        console.log(this.$config.privatePassword);
        
      }
    },
    async asyncData({$axios,$config}) {
        const mountains = await $axios.$get(`${$config.axios.baseURL}/mountains`)
        // console.log(mountains);
        return {mountains}
    },
    // validate({ query }){
    //   if (query.preview) {
    //     return true
    // }
  // },
  mounted() {
    //access plugin inject method using this.$hello
    this.$hello('mounted')
  },
    components: { CommentsPlaceholder, Button }
}
</script>
<style lang="scss" >
  // @import 'assets/scss/variable.scss';
  .fontSize{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    background-color: $fontcolor; 
    
  }
</style>