<script>
    export default{
    data() {
        return {
            show: false
        };
    },
  
}
</script>
<template>
    <div>
        <LazyMountaines  v-if='show' />
        <button @click="show = true" >Click me to show lazy components</button>
    </div>
</template>