<script>
    
</script>
<template>
    <nav>
        <ul>
            <li>
                <NuxtLink to="/Parent" >Parent</NuxtLink>
            </li>
            <li>
                <NuxtLink to="/Parent/Child" exact>Child</NuxtLink>
            </li>
            <li>
                <NuxtLink to="/Parent/Child1">Child1</NuxtLink>
            </li>
        </ul>
        <div class="childContainer">
            <NuxtChild />
        </div>
    </nav>
</template>


<style>
    .childContainer{
        width: 300px;
        height: 200px;
        background-color: white;

    }
</style>