<template>
    <h1>This is secret page </h1>
</template>
<script>
    // export default {
    //     middleware:'nameAuthentication'
    // }
    
    export default{
        data() {
            return {
                auth:false
            }
        },
        middleware({store,redirect}){
            if(!store.state.authentication){
                return redirect('/Signup')
            }
        }
    }
</script>