<script>
    export default{
        methods:{
            changeAuthentication(){
                this.$store.commit('counter/SetAuthentication',true)
                console.log(this.$store.state.counter.authentication);
            }
        }
    }
</script>
<template>
    <div>
         <div>This page is Signup page </div>
         <button @click="changeAuthentication">Click to set authentication=true</button>

     </div>
 </template>
