<template>
    <div>
      <h1>Slide Transition</h1>
      <p>slide-bottom page transition</p>
    </div>
  </template>
  
  <script>
  export default {
    transition: 'slide-bottom',
    mode:'in-out', // default out-in
    appear:true // default false

  }
  </script>