<script>
    export default{
        beforeMount() {
            // window.alert('hello')
            console.log('before mount');
        },
        mounted(){
            // window.alert('hello ruchi')
            console.log('mounted');
        }
    }
</script>
<template>
    <div>
        <h1>server side rendering</h1>
        <a href="tel: +7 (982) 536-50-77">+7 (982) 536-50-78</a>  
    </div>
</template>