<script>
    export default {
        asyncData({isDev, route, store, env, params, query, req, res, redirect, error}) {
            console.log(query)
        },
        created() {
            // console.log(this.$route.params.id);
            // Posts/33?id=text
            // console.log(this.$route.query.id)
        },
    }
</script>
<template>
    <div>
        Post params id :{{$route.params.id}}
        post params query : {{$route.query}}
        post params query id : {{$route.query.id}}
    </div>
</template>