<script >
    import Home from "../Home.vue";
    import About from "./About.vue";
    const routes = {
        '/':Home,
        '/about':About
    }
    export default{
        data() {
            return {
                currentPath:window.location.hash
            }
        },
        computed :{
            currentView(){
                 console.log(routes[this.currentPath.slice(1)])
                return routes[this.currentPath.slice(1) || '/'] 

            }
        },
        mounted() {
            window.addEventListener('hashchange',() => {
                this.currentPath = window.location.hash
            })
          
        },
    }
     
</script>
<template>
    <a href="#/">Home</a>
    <a href="#/about">About </a>
    <component :is="currentView"></component>
</template>
<style>

</style>