<script setup>
import { defineAsyncComponent } from 'vue';
import LoadingComp from './LoadingComp.vue'
    const AdminComp = defineAsyncComponent(() => {
        import('./AdminPageComp.vue')
    });
    const AsyncComps = defineAsyncComponent(
        {
            loader:() => import('./AdminPageComp.vue'),
            loadingComponent: LoadingComp,
            delay:60000,


        }
    );
</script>
<template>
    <!-- <AdminComp /> -->
    <AsyncComps />
    <h1>Admin Component</h1>
</template>