<script setup>
import { inject, onMounted, onUnmounted, ref } from 'vue';
import {myInjectionKey, userName} from './keys.js'
    const greeting = ref('Hello Good Morning');
    const header = ref('HeaderProps');
    const items = ref([
       { body: 'Scoped Slots Guide', username: 'Evan You', likes: 20 },
	    { body: 'Vue Tutorial', username: 'Natalia Tepluhina', likes: 10 }
    ]);

    const x = ref(0);
    const y = ref(0);
    const update = (e) => {
        x.value = e.pageX
        y.value = e.pageY
    }
    onMounted(() => window.addEventListener('mousemove',update))
    onUnmounted(() => window.removeEventListener('mousemove',update))

    // inject root message
    const rootMessage = inject('RootMessage');
    const injectDefaultMessage = inject('RootMessag','Default Root Message');

    //change provide value using inject

    const {location, updateLocation} =  inject('location')
    // using symbol 
    const val = inject(myInjectionKey)
    console.log(val.value)

    const name = inject(userName)
    console.log(name.value)
</script>
<template>
    <header>
        <slot name="header" :headerText="header"></slot>
    </header>
    <main>
        <slot></slot>
        <slot name="slotName"></slot>
        <!-- we can pass attributes to a slot outlet just like passing props to a component -->
        <slot :greetingMsg="greeting"></slot>

        <h1>Fancy List example</h1>
        <ul>
            <li v-for="item in items">
                <slot name="item" v-bind="item"></slot>
            </li>
        </ul>

        <slot :x="x" :y="y" name="xandyval"></slot>
        <div>
            <div>Provide value in App.vue and inject into BaseLayout component</div>
            <div>Root Message is : {{rootMessage}}</div>
            <div>Root Message with default value: {{injectDefaultMessage}}</div>
            <div>Change provider value : <button @click="updateLocation">{{location}}</button></div>
        </div>
    </main>

    <footer>
        <slot name="footer"></slot>
    </footer>

</template>
<style>

</style>