<script setup>
    import {defineProps} from 'vue';
    defineProps(['title'])
</script>
    // @click="$emit('enlarge')"
<template>
        <div>{{title}}</div>
        <slot /> 
        <button >Enlarge text</button>
       
</template>