<script setup>
import { ref ,defineProps} from "vue";
    defineProps(['name'])
    const count = ref(0)
</script>

<template>
    <button @click="count++" >{{name}}Count : {{count}}</button>
</template>