<script setup>
import { ref,defineExpose } from 'vue';
    const name = ref('ruchi')
    defineExpose({name})
    console.log(name.value)
 
</script>

<template>
    <input v-model="name" />
</template>
