<script setup>
import {  reactive, ref } from 'vue';
    const classObj = reactive({
        'active':true,
        "text-danger":false
    })
    const isActive = ref(true)
    const hasError = ref(true)
    const activeColor = ref('blue')
    const fontSize = ref(30)
    const activeClass = ref('active')
    const textDangerClass = ref('text-danger')
    const normalClass = ref('normal') 

    const reactiveInlineStyle = reactive({
        color:'purple',
        fontSize:'20px'
    })
    const changeColor = () => {
        isActive.value = false
        hasError.value = !hasError.value    
    }
</script>

<template>
    <div class="static" :class="classObj">Color Change</div>
    <button @click="changeColor">changeColor</button>

    <div>Binding with array</div>
    <div class="static" :class="[isActive ? activeClass : normalClass, textDangerClass]">
        Binding with array text
    </div>

    <div :class="[{active:isActive},textDangerClass]">Object syntax inside array</div>
    <div :class="$attrs.class">using class='$attrs.class'</div>
    <div :style="{color:activeColor,fontSize:fontSize+'px',fontWeight:'bold'}"> Binding with inline style</div>
    <div :style="reactiveInlineStyle">Reactive Inline style</div>
</template>
<style scoped>
    .static{
        font-size: 30px;
    }
    .active{
        background-color:red
    }
    .text-danger{
        color: white;
    }
    .normal{
        background-color: green;
    }
</style>