<script setup>
import { onActivated, onDeactivated, ref } from 'vue';
      onActivated(() => {
        console.log('onActivte A')
    })
    onDeactivated(() => {
        console.log('ondeactive A')
    });
    const count = ref(0)
</script>
<template>
    <div>Component A</div>
    <div>
        Count :{{count}} <button @click="count++">Increment</button>
        
    </div>
</template>