<script setup>
import { onActivated, onDeactivated, ref } from 'vue';
  onActivated(() => {
        console.log('onActivte B')
    })
    onDeactivated(() => {
        console.log('ondeactive B')
    });
    const text = ref('');
</script>
<template>
    <div>Component B</div>
    Message: {{text}}<input v-model="text" />
</template>