<script setup>
import { computed, reactive } from 'vue';

    const author = reactive({
        name:'Bar',
        books:[
            'Book1',
            'Book2',
            'Book3',
            'Book4'
        ]
    })
    const now = computed(() => Date.now())
    const PublishBookMsg = computed(() => {
        return author.books.length > 2 ? author.books : 'No data'
    })
    const calulateBookName = () => {
        return author.books.length > 0 ? author.books : 'No data'
    }
</script>
<template>
    <h1>Computed Property</h1>
    <div>{{PublishBookMsg}}</div>
    <h1>Computed Caches vs method</h1>
    <div>{{calulateBookName()}}</div>
    <div>{{now}}</div>
</template>