<script setup>
    import { useMouse} from "./mouse";
    import {useFetch,useFetchA} from './fetch.js';
import { ref } from "vue";
 
    const {x,y} = useMouse()
    const {data,error} = useFetch('https://jsonplaceholder.typicode.com/todos/9')
  
</script>
<template>
    Mouse is at: {{x}} ,{{y}}
    <div v-if="error">
        Oops Error {{error}}
    </div>
    <div v-else-if="data">
        Data loaded : {{data.title}} 
    </div>
    <div v-else>
        Loading
    </div>
</template>