<script setup>
    import { ref } from 'vue';
    import ButtonCounter from './ButtonCounter.vue'
    import BlogComp from './BlogComp.vue'
    import Home from './Home.vue'
    import About from './About.vue';
    import EmitEvent from './EmitEvent.vue'
    const nameBtn1 = ref('BtnCounter1')
    const nameBtn2 = ref('BtnCounter2')
    const blogPostSize = ref(1)
    const blogData = ref([
        {id:1,title:'Vue js Tutorial.'},
        {id:2,title:'Learning Tutorial.'},
        {id:3,title:'Completed upto Component'},
        {id:4,title:'Goto Vacation'}
    ])
    const tabs = {Home,About}
    const currentTab = ref('About')
    const messagepasstoEmit = ref('message')
    console.log(currentTab.value)
</script>
// :style="{fontSize: blogPostSize + 'em'}"
<template>
    <ButtonCounter :name='nameBtn1' />
    <ButtonCounter :name='nameBtn2'/>
    <div >
        <BlogComp v-for='blog in blogData' :key='blog.id' :title='blog.title'>
            something went wrong
        </BlogComp>
    </div>
    
   <div>
        <button v-for="(_,tab) in tabs" :key="tab" class="['tab-button']" @click="currentTab = tab">{{tab}}</button>
        <component :is="tabs[currentTab]" ></component>
   </div>

    <EmitEvent modalValue='messagepasstoEmit' @update:modelValue ='newval => messagepasstoEmit = newval'/> {{messagepasstoEmit}}
    <EmitEvent v-model='messagepasstoEmit'/> {{messagepasstoEmit}}

</template>
<style>
.tab-button {
  padding: 6px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #ccc;
  cursor: pointer;
  background: #f0f0f0;
  margin-bottom: -1px;
  margin-right: -1px;
}
</style>