<script setup>
import { reactive } from 'vue';

    const isStock = reactive({
        inStock:false,
        inVentory:10,
        img:'http://www.google.com'
    })
</script>
<template>
    <h1 v-if="isStock.inStock">In stock</h1>
    <h1 v-else>Out of stock</h1>

    <h1 v-if = 'isStock.inVentory > 10'>In stock</h1> 
    <h1 v-else-if="isStock.inVentory <=10 && isStock.inVentory >0">Almost sold out</h1>
    <h1 v-else>Out of stock</h1>
    <h1 v-show="isStock.inStock">V-show</h1>
</template>
<style >

</style>