<script setup>
    const vFocus = {
        mounted:(el) => el.focus()
    }
    const vChangeColor = (el,binding) => el.style.color = binding.value
    const vFontSize = (el,binding) => el.style.fontSize = binding.value;
    const vDemo = (el,binding) => {console.log(binding.value.color); console.log(binding.value.text)};
</script>
<template>
    <!-- el : direclty manipulate dom
        binding:
            value:pass value to directive like v-my-directive = '1+2' = value =3
    -->
    <input v-focus />
    <h1 v-changeColor="'blue'" v-fontSize="'30px'">This is custom directive Blue text</h1>
    <h1 v-changeColor="'red'" v-fontSize="'30px'" >This is custom directive Red text</h1>
    <div v-demo="{ color: 'white', text: 'hello!' }"></div>
</template>