<script setup>
    defineProps(['modelValue'])
    defineEmits(['update:modelValue'])
</script>
<template>
    <h1>Emit Event Component</h1>
    <input :value="modelValue" @input="$emit('update:modelValue',$event.target.value)" />
</template>
<style>
</style>