<script setup>
import { ref } from 'vue';

const count = ref(0)
const name = ref('ruchi')
const IncrementCount = (event) => {
    count.value++
    if (event) {
        alert(event.target.tagName)
    }
}
const say = (name) => {
    alert(name)
}
const warn = (message, event) => {
    // now we have access to the native event
    if (event) {
        event.preventDefault()
    }
    alert(message, event)
}
const self = () => {
    alert('click Outer')
}
const keyUpEnter = () => {
    alert(name.value)
}
const MOUSERightButton = () => {
    alert('MOUSERightButton Click')
}
</script>

<template>
    <h1>Event Handling</h1>
    <div>
        <div>Inline Handler</div>
        <div>Count {{ count }}</div>
        <button @click="count++">Add </button>
    </div>
    <div>
        <div>Method handler</div>
        <div>Counter {{ count }}</div>
        <button @click="IncrementCount">Increment</button>
    </div>
    <div>
        <div>Calling method in inline handler</div>
        <button @click="say('ruchi')">Say Hello Ruchi</button>
        <button @click="say('John')">Say Hello John</button>
    </div>
    <div>
        <div>Accessing Event Argument in Inline Handlers</div>
        <button @click="(event) => warn('Form cant submmit yet', event)">Submit</button>
        <button @click="warn('Form canot submit yet', $event)">Submit 2</button>
    </div>
    <div>
        <div>Self</div>
        <div @click.self="self">
            SelfOutter
            <div >Self Inner</div>
        </div>
    </div>
    <div>
        <div>Self Stop</div>
        <div @click.stop="self" class="bgColor">
            SelfstopOutter
            <div >Self stop Inner</div>
        </div>
    </div>
    <div>
        <div>Once</div>
        <div @click.once="self" >
            <div >Self stop Inner</div>
        </div>
    </div>
    <div>
        <div>Scroll.passive</div>
        <div  @scroll.passive="self" >
            Scroll
            scrooll
            cscroll
            scroll
        </div>
    </div>
    <div>
        <input @keyup="keyUpEnter" type="text" />
        <input @keyup.enter="keyUpEnter" type="text" />
        <input @keyup.page-down="keyUpEnter" type="text" placeholder="keyup.page-down" />
        <input @keyup.tab="keyUpEnter" type="text" />
        <input @keyup.delete="keyUpEnter" type="text" />
        <input @keyup.space="keyUpEnter" type="text" />
        <input @keyup.up="keyUpEnter" type="text" /> 

        <button @click.ctrl="keyUpEnter" >Click +ctrl + any key</button>
        <button @click.ctrl.exact="keyUpEnter" >Click +ctrl</button>
        <button @click.shift.exact="keyUpEnter" >Shift + Click</button>
        <button @click.exact="keyUpEnter" >Button</button>
        <button @click.right="MOUSERightButton">click</button>
        <button @click.ctrl.shift.exact="keyUpEnter">Ctrl+shift+click</button>
    </div>
</template>

<style>
.bgColor{
    background-color: red;
}
</style>