<script setup>
import { ref } from "vue";
import Mybutton from "./Mybutton.vue";
    const count = ref(0)

</script>
<template>
    <div>
        Fall through attribute {{count}}
        <Mybutton class="large" @click="count++" />
    </div>
</template>
<style>
    .large{
        background-color: red;
        font-size: 20px;
    }
</style>