<script setup>

</script>
<template>
        
        <button class="fancy-btn">
            <slot>Fancy Btn slot provide content</slot>
        </button>
</template>
<style>

.fancy-btn {
  color: #fff;
  background: linear-gradient(315deg, #42d392 25%, #647eff);
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}</style>