<script>
    export default {
        
            data() {
                return {
                    msg:'',
                    multilinemsg:'',
                    checked:true,
                    checkboxSelectedName:[],
                    picked:'',
                    selectedItems:'',
                    SelectedAlpha:'',
                    options:[{
                        text:'Apple' ,value:'A'
                    },
                    {
                        text:"Ball" , value:'B'
                    },
                    {
                        text:'Cat',value:'C'
                    }
                    ],
                    toggle:'Yes',
                    firstValue:'first',
                    secondValue:'second',
                    pick:'first',
                    objSelected:'',
                    lazyModifier:'',
                    age:2
                }
            },
        
    }
</script>

<template>
    <div>Message: {{msg}}</div>
    <input type="text" v-model="msg" placeholder="Enter Text"/> 

    <div>Multiline Message: {{multilinemsg}}</div>
    <textarea v-model="multilinemsg" placeholder="Enter Text"></textarea>

    <div>check box</div>
    <input type="checkbox" id="checkbox" v-model="checked" />
    <label for="checkbox">{{ checked }}</label>

    <div>Multiple checkbox : {{checkboxSelectedName}}</div>
    <input type="checkbox" id="ruchi" value="Ruchi" v-model="checkboxSelectedName" />
    <label for="ruchi" >Ruchi</label>

    <input type="checkbox" id="khushbu" value="khushbu" v-model="checkboxSelectedName" />
    <label for="khushbu" >Khushbu</label>

    <input type="checkbox" id="Palsu" value="Palsu" v-model="checkboxSelectedName" />
    <label for="Palsu" >Palsu</label>

    <div>Pick up : {{picked}}</div>
     <input type="radio" id="one" value="One" v-model="picked" />
    <label for="one" >One</label>

     <input type="radio" id="two" value="Two" v-model="picked" />
    <label for="two" >Two</label>

    <div>Select Items:{{selectedItems}}</div>
    <select v-model="selectedItems">
        <option disabled value="">Please select one</option>
        <option>item 1</option>
        <option>item 2</option>
        <option>item 3</option>
    </select>

    <div>Dynamically selected option using v-for</div>
    <select v-model="SelectedAlpha">
        <option v-for="option in options" :value="option.value">{{option.text}}</option>
    </select>
    <div>{{SelectedAlpha}}</div>

    <div>Only select value a</div>
    <input type="radio" v-model="picked" value="a" /> 

    <div>Checkbox toggle</div>
    <input type="checkbox" v-model="toggle" true-value='Yes' false-value='No'/> {{toggle}}

    <input
    type="checkbox"
    v-model="toggle"
    :true-value="dynamicTrueValue"
    :false-value="dynamicFalseValue" />{{toggle}}

    <div>Value binding</div>
    <input type="radio" v-model="pick" :value="firstValue" />{{firstValue}}
    <input type="radio" v-model="pick" :value="secondValue" />{{secondValue}}

    <select v-model="objSelected">
        <option :value='{number:123}'>123</option>
    </select>
    {{objSelected}}

    <input v-model.lazy="lazyModifier" placeholder="model lazy"/>{{lazyModifier}}

    <div>Auto type cast to Number</div>
    <input v-model.number="age"/> {{age}}

    <input v-model.trim="msg" />{{msg}}
</template>
<style>

</style>