<script setup>
    import { onActivated, onDeactivated, ref, shallowRef } from 'vue';
import ComA from './ComA.vue'
    import ComB from './ComB.vue'
    const activeComp = shallowRef(ComA);
    const a = ref('ruchi');
    // onActivated(() => {
    //     console.log('onActivte')
    // })
    // onDeactivated(() => {
    //     console.log('ondeactive')
    // });
</script>
<template>
    <div>
        Keep Alive is allow us to conditionally cache component instance and <br />dynamically switch multiple component
    </div>
    <input type="radio" :value="ComA" v-model="activeComp" /> A
    <input type="radio" :value="ComB" v-model="activeComp" /> B 

    <component :is="activeComp"></component>
    <h1>Using keep Alive</h1>
    <!-- <KeepAlive>
        <component :is="activeComp"></component>
    </KeepAlive> -->
    <KeepAlive :max="5">   
        <component :is="activeComp"></component>
    </KeepAlive>
   

</template>
<style>

</style>