<script setup>
    import {onActivated, onBeforeMount, onBeforeUnmount, onBeforeUpdate, onErrorCaptured, onMounted, onUnmounted, onUpdated, ref} from 'vue'
    const count = ref(0)
    const id = ref(100)
    const second = ref(0)
    const someMethod = () => {
      // do smth
    }
    onMounted(() => {
        console.log('onMounted call when Component is render after')
          window.addEventListener('resize', someMethod)
            // second.value = setInterval(() => {
            //     second.value++
            //     console.log('add interval')
            // },1000)
        
    })
    onUpdated(() => {
        console.log(count.value)
    })
    onUnmounted(() => {
        // clearInterval(second.value)
        // console.log('clear interval')
    
    })
    onBeforeMount(() => {
        console.log('call before dom node this function render')
    })
    onBeforeUpdate(() => {
        console.log('after dom update onBeforeUpdate call')
    })
    onBeforeUnmount(() => {
        console.log('unmount')
        
    })

    // onErrorCaptured(() => {
    //         console.log('error')
    // }),

    onActivated(() => {
        count.value++
        console.log('onActived calll')
    })
</script>
<template>
    <h1>Life cycle Hooks</h1>
    <button id="count" @click="count++">Count{{count}}</button>
    <button @click="id--">Decrement{{id}}</button>
    <div>Second : {{second}}</div>
</template>
<style>

</style>