<script >
 export default {
        data() {
            return {
                isActive:false,
                number:[1,2,3,4,5,6],
                sets:[
                    [1,2,3,4,5],
                    [6,7,8,9,10]
                ],
                parentMsg:'Hello Parent',
                lists:[{message:'hello welcome'},{message:'hello ruchi'}],
                details:['50% cotton','30% wool', '20% poylyester'],
                myObj:{
                    title:'Vue js Tutorial',
                    author:'jone doe',
                    heading:"Learning Vue js ",
                    inComplete:false
                },
                myObj2:[
                    {
                    id:1,
                    title:'Vue js Tutorial1',
                    author:'jone doe',
                    heading:"Learning Vue js ",
                    inComplete:false
                    },
                    {
                    id:2,
                    title:'Vue js Tutorial2',
                    author:'jone doe2',
                    heading:"Learning Vue js 2",
                    inComplete:false
                },
                ]
            }
        },
        methods: {
           add(){
             this.details.push('cotton')
             console.log(details)
           },
           even(set) {
                return set.filter(n => n % 2 === 0)
           }
        },
        computed:{
            evenNumber(){
                return this.number.filter(n => n % 2 == 0)
            }
        }
    }

</script>
<template >
    <!-- <li class="detailsClass" v-for="detail in details">
        {{detail}}
    </li>
    <li v-for="(list,index) in lists">
        {{list.message}} -{{index}} -{{parentMsg}}
    </li>
   <li v-for="({message},index) in lists">
        {{message}}-{{index}}
   </li>
   

    v-for in object

    <li v-for="value in myObj">
       v-for in object {{value}}
    </li>
    <li v-for="(value,key) in myObj">
        {{key}}:{{value}}
    </li>

    v-for in range
    <li v-for="n in 10">
        {{n}}
    </li>

    <ul>
        <template v-for="detail in details">
            <li>{{detail}}</li>
        </template>
    </ul>

    <template v-for="obj in myObj">
        <li v-if="!obj.isComplete">
            {{obj}}
        </li>
    </template>
    <template  v-for="obj in myObj2" :key="obj.id">
        <li>{{obj.title}}</li>
    </template>

    <div v-for="detail in details" >
            {{detail}}
    </div>
    <button @click="add" >Add</button>
    <div v-for="n in evenNumber">
        {{n}}
    </div> -->
    <div v-for="set in sets">
        <div v-for="val in even(set)">
            {{val}}
        </div>
    </div>
    <div v-if="isActive">
            you are if
    </div>
    <div v-show="isActive">
        You are show
    </div>
    <div>yes</div>
</template>

<style >
    .detailsClass{
        text-align: center;
    }
</style>