<script setup>
    import { useAttrs } from 'vue';
    const attrs = useAttrs()
    console.log(attrs)
</script>
<template>
    <button class="btn">Click me</button>
</template>
<style>
    .btn{
        color:white;
        border: 1px solid white;
    }
</style>