<script setup>
import { ref } from 'vue';

    const open = ref(false);
    const disabled = ref(true);
</script>
<template>
    <Teleport to="#portal-root" :disabled="disabled">
        <!-- <button @click="disabled = !disabled">Disabled</button> -->
        <button @click="open = true" v-if="disabled">open modal</button>
        <div v-if="open" class="modal">
        <p>Hello from the modal!</p>
        <button @click="open = false">Close</button>
        </div>
    </Teleport>
    
</template>
<style>
.modal{
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    width: 300px;

}
</style>