<script >
    export default {
        data() {
            return {
                count:0,
                rawhtml:`
                    <h5>Hello ruchi</h5>
                `,
                isButtonDisabled:'true'
            }
        },
        watch:{
            count(){
                console.log('Count change');
            }
        },
        methods: {
            increment(){
                this.count++
            }
        },
    }
</script>
<template>
    <button @click="increment">Value change using optional api : {{count}}</button>
</template>