<script setup>
import { nextTick, reactive, ref } from 'vue';

    const state = reactive({
        count:0,
        arr:['foo','bar']
        })
     const counter = ref(0)
    async function increment(){
        state.count++
        counter.value++
        // state.arr.push('hello')
        console.log(document.getElementById('counter').textContent) //0
        await nextTick()
        console.log(document.getElementById('counter').textContent) //1
        
    }
   
</script>

<template>
    <button id="counter" @click="increment">Count {{state.count}}</button>
    <div>{{state.arr}}</div>
    <button @click="increment">
        <div>counter value : {{counter}}</div> 
    </button>
</template>