<script setup>
import FancyBtn from "./FancyBtn.vue";
import Icon from "./Icon.vue";
import BaseLayout from "./BaseLayout.vue";
import { ref } from "vue";
    const dynamicSlotName = ref('slotName');
</script>
<template>
    <FancyBtn >
        FancyBtn parent provide content
        <!-- <Icon /> -->
    </FancyBtn>
    <FancyBtn />

    <BaseLayout >
        <template #header="headerProps">
            <h1>Header Content</h1>
            {{headerProps.headerText}}
        </template>
        <template #default="defaultProps">
            <h1>Main Content</h1>
            {{defaultProps.greetingMsg}}
        </template>
        <template #footer>
            <h1>Footer Content</h1>
        </template>
        <template #[dynamicSlotName]>
            <h1>Dynamic slot name</h1>
        </template>
        
       
        <!-- <template #item="itemProps">
            <div>body {{itemProps.body}} ,username {{itemProps.username}} , likes {{itemProps.likes}}</div>
        </template> -->
        <template #item="{body,username,likes}">
            <div>body {{body}} ,username {{username}} , likes {{likes}}</div>
        </template>

        <template #xandyval="{x,y}">
            Mouse is at: {{x}}, {{y}}
        </template>
    </BaseLayout>
</template>
<style>

</style>