<script setup>
import {ref, onMounted, onUpdated } from 'vue';
import ChildComRef from  './ChildComRef.vue'
    const input = ref(null)
    const array = ref([1,2,3,4])
    const arrItems = ref([])
    const name = ref('')
    const childRef = ref(null)
    const displayName = () => {
        console.log(name.value)
        console.log('call function using ref')
    }
    onMounted(() => {
        input.value.focus()
        console.log(arrItems.value.map(val => val.textContent))
        console.log(childRef.value.name) // child value pass to parent component
    })
  
</script>
    
<template>
    <h1>Provide input ref to Dom </h1>
    <input ref="input" placeholder="provide input reference to dom"/>
    <h1>Ref inside v-for</h1>
    <li v-for="arr in array" ref="arrItems">
        {{arr}}
    </li>

    <h4>Function ref</h4>
    <input :ref="displayName" v-model='name'/>
    <ChildComRef ref="childRef"/>
</template>
<style>


</style>