<script setup>
import { ref, onMounted } from 'vue'

// reactive state
const count = ref(0)
let isButtonDisabled=false
const rawhtml=`<h1>Hello World</h1>`
let url = 'https://www.google.co.in'
let attributeName = 'href'
let eventName = 'click'
let search = ref('')
let someObj = ref({
    hello:'Hello',
    ruchi:'Ruchi'
})

const changeDisabletoEnable = () => {
    isButtonDisabled = !isButtonDisabled
    console.log(isButtonDisabled)
}
const anotherFun = () => {
    console.log('anotherFun')
    return `anotherFun`
}   
const onClick = () => {
    console.log('click')
}
const submitted = (e) => {
    search.value = e.target[0].value
}
const countClick = () => {
    count.value++
}
</script>
<template>
    <div v-html='rawhtml'></div>
    <div> {{rawhtml}}</div>
    <button :disabled='isButtonDisabled' @click="changeDisabletoEnable">Button</button>
    <div :title="changeDisabletoEnable">{{anotherFun()}} </div>
    <div v-if="seen">Now you see me</div>
    <a :href="url" target="_blank">Goto google</a>
    <button @click="onClick">OnClick Button</button>
    <a v-bind:[attributeName]="url" target="_blank">Dynamic Attribute Link</a>
    <button @click="eventName">Dynamic Attribute button</button>

    <form @submit.prevent="submitted">
        <input  type="text"
               name="search" 
               placeholder="Search Tutorials" />
               <button type="submit">Submit</button>
    </form>
    <p>Submitted value: {{ search }}</p>
    <p>
        {{someObj}}
    </p>
    <div>Count :{{count}}</div>
</template>
    