<script setup>
import WelcomeItem from './WelcomeItem.vue'
import DocumentationIcon from './icons/IconDocumentation.vue'
import ToolingIcon from './icons/IconTooling.vue'
import EcosystemIcon from './icons/IconEcosystem.vue'
import CommunityIcon from './icons/IconCommunity.vue'
import SupportIcon from './icons/IconSupport.vue'
</script>

<template>
  <WelcomeItem>
    <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading>Documentation</template>
  </WelcomeItem>
  <WelcomeItem >
    <template #icon>
      <ToolingIcon />
    </template>
    <template #heading>
      Tooling icon
    </template>
  </WelcomeItem>
  <WelcomeItem>
    <template #icon>
        <EcosystemIcon />
    </template>
    <template #heading>
      Ecosystem
    </template>
  </WelcomeItem>
</template>
