<script setup>
import { reactive, ref, shallowRef, watch } from 'vue';
import gsap from 'gsap'
import ComA from './ComA.vue'
import ComB from './ComB.vue'

    const show = ref(true);
    const docState = ref('saved')
    const disable = ref(false)
    const x = ref(0)
    const number = ref(0)
    const tweetEnd = reactive({
        number:0
    })
    watch(number,(n) => {
        gsap.to(tweetEnd,{duration:0.5,number:Number(n) || 0})
    })
    const moveMouse = (e) => {
        x.value = e.clientX
    }
    const activeComp = shallowRef(ComA)
    const onBeforeEnter = (el) => {
        gsap.set(el,{
            scaleX:0.25,
            scaleY:0.25,
            opacity:1
        })
    } 
    const onEnter = (el,done) => {
        gsap.to(el,{
            scale:1,
            duration:1,
            opacity:1,
             ease: 'elastic.inOut(2.5, 1)',
            onComplete:done
        })
    }
    const onLeave = (el,done) => {
        gsap.to(el,{
            duration:0.7,
            scale:1,
            x:300,
            ease:'elastic.inOut(3.5, 1)',
        })
         gsap.to(el, {
            duration: 0.2,
            delay: 0.5,
            opacity: 0,
            scale:0,
            onComplete: done
        })
    };

    const warnDisabled = () => {
        disable.value = true
        setTimeout(() => {
            disable.value = false
        }, 1500);
    }
</script>
<template>
    <button  @click="show = !show">Toggle</button>
    <Transition>
        <p v-if="show">Hello World</p>
    </Transition>
    <div>Named Transition</div>
    <Transition name="slide-fade">
       <p v-if="show"> Hello World</p>
    </Transition>
    <Transition name="bounce">
        <p v-if="show">Hello here is some bouncy text!</p>
    </Transition>
    <Transition name="custom-classes" enter-active-class="animate__animated animate__shakeX" leave-active-class="animate__animated animate__shakeY">
       <p v-if="show"> An animated element</p>
    </Transition>
    <div>Nested Transition </div>
    <Transition name="nested">
        <div v-if="show" class="outer">
            <div class="inner">Hello</div>
        </div>
    </Transition>
    <Transition :duration="{enter:500,leave:500}">
        <p v-if="show">Hello Ruchi</p>
    </Transition>
    <Transition @enter=" onEnter" @leave="onLeave" @before-enter="onBeforeEnter" :css="false">
        <div class="gsap-box" v-if="show"></div>
    </Transition>
    <div class="btn-container">
        <span style="margin-right: 20px">Click to cycle through states:</span>
        <Transition name="slide-up" mode="out-in">
            <button v-if="docState === 'saved'" @click="docState = 'edited'">Edit</button>
            <button v-else-if="docState === 'edited'" @click="docState = 'editing'">Save</button>
            <button v-else-if="docState === 'editing'" @click="docState = 'saved'">Cancel</button>
        </Transition>
    </div>
    <div>

        <input type="radio" :value="ComA" v-model="activeComp" /> A
        <input type="radio" :value="ComB" v-model="activeComp" /> B
        <Transition  mode="out-in">
            <component :is="activeComp"></component>
        </Transition>
    </div>
    <div>Class based animation</div>
    <div :class="{shake:disable}">
        <button @click="warnDisabled">Click Me</button>
        <span v-if="disable">This feature is disabled!</span>
    </div>

    <div>state driven animation</div>
    <div @mousemove="moveMouse" class="movearea" :style="{backgroundColor:`hsl(${x},80%, 50%)`}">
        <p>Move your mouse across the div</p>
        <p>X: {{x}}</p>
    </div>

    <div>
        Type a number : <input v-model.number='number'/>
        <p>{{tweetEnd.number.toFixed(0)}}</p>
    </div>
</template>
<style>

    @import "https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css";
    
    .movearea{
        transition: 0.3s background-color ease;
    }
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
.slide-fade-enter-active,.slide-fade-leave-active{
    transition: all 0.5s ease-out;
}
.slide-fade-enter-from,.slide-fade-leave-to{
    
    transform: translateX(20px);
    opacity: 0;
}
.bounce-enter-active{
    animation: bounce-in 0.5s;
}
.bounce-leave-active{
    animation: bounce-in 0.5s alternate;
}
@keyframes bounce-in{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.50);
    }
    100%{
        transform: scale(1);
    }
}
.outer{
    padding: 50px;
    background-color: green;
}
.inner{
    padding: 20px;
    background-color: white;
    color: black;
}
.nested-enter-active,.nested-leave-active{
    transition: all 0.3s ease-in-out;
}
.nested-leave-active{
    transition-delay: 0.25s;
}
.nested-leave-to ,.nested-enter-from{
    transform: translateY(20px);
    opacity: 0;
}
.nested-enter-active .inner,.nested-leave-active .inner{
    transition: all 0.3s ease-in-out;
}
.nested-enter-from .inner ,.nested-leave-to .inner{
    transform: translateX(20px);
    opacity: 0;
}
.nested-enter-active .inner{
    transition-delay: 0.25s;
}
.gsap-box{
    width: 30px;
    height: 30px;
    background: rgb(68, 123, 68);
    border-radius: 50%;
}
.btn-container{
    display: inline-block;
    position: relative;
    height: 1rem;
}
.btn-container button{
    position: absolute;
}
.slide-up-enter-active,.slide-up-leave-active{
    transition: all 0.25s ease-out;
}
.slide-up-enter-from{
    opacity: 0;
    transform: translateY(30px);
}
.slide-up-leave-to{
    opacity: 0;
    transform: translateY(-30px);
}
.shake{
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0,0,0);
    }
    @keyframes shake{
        10%,90%{
            transform: translate3d(-1px,0,0);
        }
        20%,80%{
            transform: translate3d(2px,0,0);
        }
        30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
    }
</style>