<script setup>
import { computed, ref } from 'vue';
import gsap from 'gsap'
    const getInitialItems = () => [1, 2, 3, 4, 5]
    const items = ref(getInitialItems())
    let id = items.value.length + 1
    const query = ref('')
    const list = [
    { msg: 'Bruce Lee' },
    { msg: 'Jackie Chan' },
    { msg: 'Chuck Norris' },
    { msg: 'Jet Li' },
    { msg: 'Kung Fury' }
    ]
    const computedList = computed(() => {
        return list.filter((item ) => item.msg.toLocaleLowerCase().includes(query.value))
    })
    const add = () =>{
        const i = Math.random(Math.random() * items.value.length)
        items.value.splice(i,0,id++)
    };
    const remove = (item) => {
        const i = items.value.indexOf(item)
        if(i > -1){
            items.value.splice(i,1)
        }
    }
    const onBeforeEnter = (el) => {
        el.style.opacity = 0
        el.style.height = 0
    }
    const onEnter = (el,done) => {
        gsap.to(el,{
            opacity:1,
            height:'1rem',
            delay:3,
            onComplete:done,
        })
    }
    function onLeave(el, done) {
        gsap.to(el, {
            opacity: 0,
            height: 0,
            delay: el.dataset.index * 0.15,
            onComplete: done
        })
        }
</script>
<template>
    <div class="container">
        <h1>Transition Group is used for insertion,removal and order change of element  and component render in list</h1>
        <button @click="add">Add</button>
        
    <TransitionGroup name="fade" >
        <li v-for="item in items" :key="item" class="list">
            {{item}}
            <button @click="remove(item)">Remove</button>
        </li>

    </TransitionGroup>
    </div>
    <input v-model="query" />
    <TransitionGroup :css="false" @enter="onEnter" @leave="onLeave" @before-enter="onBeforeEnter" tag="ul">
        <li v-for="item in computedList" :key="item.msg">
                {{item.msg}}
        </li>
    </TransitionGroup>
</template>
<style>
.container{
    position: relative;
}
.list{
    background-color: antiquewhite;
    border: 1px solid black;
    height: 30px;
}
    .fade-move,.fade-enter-active,.fade-leave-active{
        transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
    }
    .fade-enter-from,.fade-leave-to{
        opacity: 0;
        transform: scaleY(0.01) translateX(30px);
    }
    .fade-leave-active{
        position: absolute;
    }
</style>