<script setup>
import { onMounted, reactive, ref, watch, watchEffect, watchPostEffect } from 'vue';

const question = ref('')
const count = ref(0)
const value1 = ref(5)
const value2 = ref(5)
const obj = reactive({val1:2})
const array = reactive({
    array1:[1,2,3,4],
    array2:[5,6,7,8]
})
const answer = ref('question contains ? question marks')
watch(question, async (newquestion) => {
    if (newquestion.indexOf('?') > -1) {
        answer.value = 'Thinking answer'

        try {
            const res = await fetch('https://yesno.wtf/api')
            answer.value = (await res.json()).image
        }
        catch (error) {
            answer.value = 'Error ouccer in API' + error
        }
    }
})
watch(count, async (newCount) => {
    console.log(`Count value is ${newCount}`)
})
// using reactive object 
watch(() => obj.val1,
    (val) => {
        console.log(`val1 is  ${val}`)
    })

watch(() => value1.value + value2.value, (sum) => { console.log(`sum of value1 and value ${sum}`)})
const InsterItems = () => {
    array.array1 = array.array1.push(8)
    console.log(array.array1)
}
//array of multiple source 
 watch([() => array.array1,() => array.array2], ([newArray1,newArray2]) => {
    console.log(`array1 is ${newArray1} and array2 is ${newArray2}`)
})
//initial render and after change state then call re-render watcheffect
watchEffect(() => {
    console.log(`count value changed using watchEffect: ${count.value} `)
})

watchPostEffect(() => {
    console.log('execute after vue updates')
})
</script>

<template>
    <p> Ask a yes or no question:</p>
    <input v-model="question" />
    <a :href="answer">{{ answer }}</a>
    <div>Count:{{ count }}</div>
    <button @click="count++">Button</button>

    <div @click="obj.val1++">reactive object count is {{obj.val1}}</div>
    <div @click="value1++">Sum of two value</div>
    
    <h1>Array of multiple source</h1>
    <div @click="InsterItems">Change Array</div>
</template>

<style>
</style>