
<template>
    <div>{{item}}</div>
</template>
<script>
    export default{
        async asyncData({params,$axios}) {
            const item = await $axios.$get(`https://jsonplaceholder.typicode.com/albums/${params.id}`)
            return {item}
        },
    }
</script>