<template>
    <div>
        <ul v-for="item in items" :key="item.id">
            <li>
                <NuxtLink :to="`items/${item.id}`">{{item.title}}</NuxtLink>
            </li>
        </ul>
    </div>
</template>
<script>
import axios from 'axios';

   export default{
    async asyncData({$axios}) {
            const res = await $axios.$get('https://jsonplaceholder.typicode.com/albums')
            const items =await res.slice(0,5)
            return {
                items
            }
        }
   }
</script>