<script setup>
import { RouterLink, RouterView } from 'vue-router'
import Goback from './components/Goback.vue';
import AppLink from './components/AppLink.vue';

</script>

<template>
  <header>
    <Goback />
    <nav>
      <AppLink to="/">Home</AppLink>
      <AppLink to="/about">About</AppLink>
      <AppLink to="/users">Users</AppLink>
      <AppLink to="/fetchusers/1">Fetch Users data</AppLink>
      <AppLink to="/user">usergeneric</AppLink>
      <AppLink to="/usersNum">Users params are only number</AppLink>
      <AppLink to="/matchMultiParam">Users multi params match like /one/two/three</AppLink>
      <AppLink to="/nestedRoute">Nested routes</AppLink>
      <AppLink to="/nestedusers/eduardo">/users/eduardo</AppLink>
      <br />
      <AppLink to="/nestedusers/eduardo/profile">/users/eduardo/profile</AppLink>
      <br />
      <AppLink to="/nestedusers/eduardo/posts">/users/eduardo/posts</AppLink>
      <AppLink to="/">Leftside</AppLink>
      <AppLink to="/rightside">rightside</AppLink>
      <AppLink to="/setting">Setting</AppLink>
      <AppLink to="/alias-fetchusers">Alias fetchusers</AppLink>
      <AppLink to="/searchuser">Goto Search User</AppLink>
      <AppLink :to="{ name: 'protected' }">Using navigation guard</AppLink>
      <AppLink to="/fetchbeforenav">Fetch before navgation</AppLink>
      <AppLink to="/compuserouter">Fetch data using useRouter in composition api</AppLink>
      <AppLink to="https://www.google.com">Go to google</AppLink>
    </nav>
  </header>

  <!-- <RouterView /> -->

  <!-- <RouterView v-slot="{ Component }">
    <transition name="slide" mode="out-in">
      <component :is="Component" :key="$route.path"/>
    </transition>
  </RouterView> -->

  <!-- <RouterView v-slot="{ Component }">
    <transition name="moveUp" >
      <component :is="Component" :key="$route.path"/>
    </transition>
  </RouterView> -->

  <RouterView v-slot="{ Component ,route}">
    <transition :name="route.meta.transition || 'fade'" >
      <component :is="Component" :key="$route.path"/>
    </transition>
  </RouterView>
  <RouterView name="LeftSide" class="backColor"></RouterView>
  <RouterView name="RightSide" class="backColor"></RouterView>
  <RouterView name="sidebar"></RouterView>
</template>

<style scoped>


/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
} */




.slideleft-enter-active,
.slideleft-leave-active{
  transition: opacity 1s ,transform 1s ;
}
.slideleft-enter-from,
.slideleft-leave-to{
  opacity: 0;
  transform: translateX(-30%);
}

.slideright-enter-active,
.slideright-leave-active{
  transition: opacity 1s ,transform 1s ;
}
.slideright-enter-from,
.slideright-leave-to{
  opacity: 0;
  transform: translateX(30%);
}

.slide-enter-active,
.slide-leave-active{
  transition: opacity 1s ,transform 1s ;
}
.slide-enter-from,
.slide-leave-to{
  opacity: 0;
  transform: translateX(-30%);
}


.moveUp-enter-active{
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.moveUp-leave-active{
  animation: moveUp 0.3s ease-in;
}
@keyframes moveUp{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-400px);
  }
}
header {
  line-height: 1.5;
  max-height: 100vh;
}

.backColor {
  background-color: red;
  height: 100px;

}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
