<script>
    export default{
        created(){
            console.log(this.$route.params.title);
            // console.log(this.$route.params.subTitle);
        },
        async asyncData({ params }) {
            const title = params.title
            const subTitle = params.subTitle
            return { title, subTitle }
        }
    }
</script>
<template>
    <div>
        <h1>_title : {{$route.params.title}}</h1>
        <h1>Access route params data using asyncData () hook title: {{title}} and SubTitle:{{subTitle}}</h1>
        <!-- <h1>_subTitle : {{$route.params.subTitle}}</h1> -->
    </div>
</template>