<script>
import postcss from 'postcss';

    export default{
        data() {
            return {
                post:[],
                
                count:0
            }
        },
        activated(){
            if(this.$fetchState.timestamp <= Date.now() - 30000){
                this.$fetch()
            }
        },
        watch:{
        '$route.params': '$fetch',
          count(){
            console.log('count change');
          }
        },
        methods:{
            fetchMethod(){
                console.log();
            }
        },  
        async fetch(){
            // this.post = await this.$http.$get(`https://api.nuxtjs.dev/posts/${this.$route.params.id}`)
            // this.post = await fetch(`https://api.nuxtjs.dev/posts/${this.$route.params.id}`).then(res => res.json())
            //run axios plugin
            this.post = await this.$axios.$get(`/posts/${this.$route.params.id}`)
        },

       
        fetchOnServer:false,
        fetchKey:'posts-data',

    }
</script>
<template>
    <div>
        
        <div v-if="$fetchState.pending">Loading...</div>
        <div v-else-if="$fetchState.error">Error occurred during fetching</div>
        <div v-else>
            <span>{{post.id}}</span>
            <span> {{post.title}}</span>
        </div>
        <div>
            <span>{{post.id}}</span>
            <span> {{post.title}}</span>
        </div> 
        <button @click="count++">Button {{count}}</button>
        <div>{{this.$route.query.id}}</div>
    </div>
</template>