<script>
    export default{
        data() {
            return {
                posts:[]
            }
        },
        async fetch(){
            // this.posts = await this.$http.$get('https://api.nuxtjs.dev/posts')
            this.posts = await this.$axios.$get(`/posts`)

        },
        fetchOnServer:false,
        fetchKey:'posts-data',

    }
</script>
<template>
    <div>
        <p v-if="$fetchState.pending">Loading....</p>
        <p v-else-if="$fetchState.error">An error occurred</p>
        <div v-else>
            <h1>Data Fetching using fetch() hook</h1>
            <ul>
                <li v-for="post in posts">
                    {{post.title}}
                </li>
            </ul>
            <!-- reload async data by calling this.$fetch -->
            <button @click="$fetch">Refresh</button>
        </div>
    </div>
</template>