<script setup>
import HelloWorld from './components/HelloWorld.vue'
import TheWelcome from './components/TheWelcome.vue'
import Composition from './components/Composition.vue'
import OptionalApi from './components/OptionalApi.vue'
import TemplateSyntax from './components/TemplateSyntax.vue'
import ReactiveFunda from './components/ReactiveFunda.vue'
import ComputedProperty from './components/ComputedProperty.vue'
import ClassesandStyleBinding from './components/ClassesandStyleBinding.vue'
import ConditionalRender from './components/ConditionalRender.vue'
import ListRendering from './components/ListRendering.vue'
import EventHandling from './components/EventHandling.vue'
import FormInput from './components/FormInput.vue'
import LifeCycleHook from './components/LifeCycleHook.vue'
import Watcher from './components/Watcher.vue'
import TemplateRef from './components/TemplateRef.vue'
import Component from './components/Component.vue'
import CompA from './components/Comp/CompA.vue'
import CompB from './components/Comp/CompB.vue'
import Fallthrough from './components/Fallthrough.vue'
import Slots from './components/Slots.vue'
import { defineCustomElement, provide, ref } from 'vue'
import { myInjectionKey,userName } from './components/keys.js'
import AsyncComp from './components/AsyncComp.vue'
import Composable from './components/Composable.vue'
import CustomDirectives from './components/CustomDirectives.vue'
import TransitionEx from './components/TransitionEx.vue'
import TransitionGroupEx from './components/TransitionGroupEx.vue'
import KeepAliveEx from './components/KeepAliveEx.vue'
import TeleportEx from './components/TeleportEx.vue'
import MyModal from './components/MyModal.vue'
import SuspenceEx from './components/Suspense/SuspenceEx.vue'
import Navbar from './components/Router/Navbar.vue'
import Comp from './components/State/Comp.vue'
import RenderFunAndJSx from './components/RenderFunAndJSx.vue'

  const Rootvalue = ref('Hello Ruchi')
  const username  = ref('Ruchi PAtel')
  const location = ref('Nadiad')
  const updateLocation = () => {
    location.value = 'Ahemedabad'
  }

  provide('location',{location,updateLocation})
  provide('RootMessage',Rootvalue)
  provide(myInjectionKey,Rootvalue)
  provide(userName,username);

  // const MyCustom = defineCustomElement({
  //     template:`<h1>custom Element</h1>`
  // })
  // customElements.define('my-custom',MyCustom)
  // document.body.appendChild(
  //   new MyCustom()
  // )
</script>


<template >
<!-- <div v-theme="'secondary'"> -->
  <!-- <header>
    <img alt="Vue logo" class="logo" src="./assets/logo.svg" width="125" height="125" />

    <div class="wrapper">
      <HelloWorld msg="Hello World" />
    </div>
  </header> -->

  <!-- <main>
    <TheWelcome />
  </main>
  <div>
    <Composition />
  </div>
  <div>
    <OptionalApi />
  </div>
  <div>
    <TemplateSyntax />
  </div>
  <div>
    <ReactiveFunda />
  </div> -->
  <!-- <div>
    <ComputedProperty />
  </div>
  <div>
    <ClassesandStyleBinding class="backGroundColor"/>
  </div> 
  <div>
    <ConditionalRender />
  </div>
  <div>
    <ListRendering />
  </div>
  <div>
    <EventHandling />
  </div>
  <div>
    <FormInput />
  </div>
  <div>
    <LifeCycleHook />
  </div>
  <div>
    <Watcher />
  </div>
  <div>
    <TemplateRef />
  </div>
  <div>
    <Component />
  </div>
  <div>
    <CompA />
  </div>

  <div>
    <Fallthrough />
  </div> 

  <div>
    <Slots />
  </div>
  <div>
    <AsyncComp />
  </div>
  <div>
    <Composable />
  </div>
  <div>
    <CustomDirectives />
  </div>
  <TransitionEx />
  <TransitionGroupEx /> 
  <KeepAliveEx />
  <Teleport to="#portal-root">
    <TeleportEx />
  </Teleport>

  <Teleport to="#portal-root">
    <MyModal />
  </Teleport>
    <MyModal />
    <Teleport to="#portal-root" :disabled="true">
        <button @click="disabled = !disabled">Disabled</button>
        <button @click="open = true" >open modal</button>
        <div v-if="open" class="modal">
        <p>Hello from the modal!</p>
        <button @click="open = false">Close</button>
        </div>
    </Teleport> 
    <SuspenceEx /> 
    <Navbar />
    <Comp /> 
    <RenderFunAndJSx />-->
   <Comp />
   <KeepAliveEx />
  <!-- </div> -->
</template>

<style >
.backGroundColor{
  background-color: purple;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}
header {
  line-height: 1.5;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }
}
</style>
