<script>

</script>
<template>
    <div class="configuration">
        <div class="container">
            <h1>Configuration css module</h1>
        </div>
    </div>
</template>
<!-- <style lang="scss">
    .configuration{
        background-color: $backGroundColor;
    }
</style> -->