<script setup>
import { ref, watch } from 'vue';
import { useRoute, useRouter } from 'vue-router';

    const router = useRouter()
    const route = useRoute()
    const posts = ref(null)
    const postbyid = ref(null)
    const fetchUser = async () => {
        const res = await fetch(`https://jsonplaceholder.typicode.com/posts`)
        posts.value = await res.json()
    }
    const fetchpostbyid =  (id) =>{
           router.push({name:'details',params:{id:id}})
    }
    fetchUser()
    watch(() => route.params,fetchUser);
</script>
<template>
    <h1>Using Component useRouter to fetch data</h1>
    <!-- <div v-for="post in posts" v-if="posts">
        <div @click="fetchpostbyid(post.id)">{{post.id}} {{post.title}}</div>
    </div> -->
    <!-- <div v-if="postbyid">Post by id {{postbyid.body}}</div> -->
    <!-- <div v-if="posts">title:{{posts.title}}</div> -->
    <div v-for="post in posts" v-if="posts">
        <div @click="fetchpostbyid(post.id)">{{post.id}}{{post.title}}</div>
    </div>
    <RouterView />
</template>