<script setup>
import { ref, watch, watchEffect } from 'vue';
import { useRoute } from 'vue-router';
    defineProps(['id'])

    let post = ref({})
    let loading = ref(false)
    
    const router = useRoute()
    console.log(router.params.postid)
    const fetchFun = async () => {
        post.value = null
        loading.value = true
        // const res = await fetch(`https://jsonplaceholder.typicode.com/posts/${router.params.postid}`)
                const res = await fetch(`https://jsonplaceholder.typicode.com/posts/${router.params.postid}`)

        post.value = await res.json()
        loading.value = false
        // console.log(post.value)
       
    }
  
    fetchFun()
    watch(() => router.params, fetchFun())
    
</script>
<template>
    <div v-if="loading">Loading..</div>
  <div v-if="post">
      <h1>using router User id{{router.params.postid}}</h1>
      <h1>using $route User id{{$route.params.postid}}</h1>
      <h1>Using named view and props:{{id}}</h1>
      <div >Post title:{{post.title}}</div> 
      <div>Post Body : {{post.body}}</div>
      <button @click="() => $router.push('/ruchi')">Add routes parameter</button>
  </div>
</template>