<script>
import PretendGet from '../components/PretendGet.js'
export default {
    names:'Ruchi',
    data() {
        return {
            post: null,
            name:null,
            loading:false
        }
    },
     beforeRouteEnter(to, from, next) {
        PretendGet((err,name)=> {
            next(vm => vm.setName(err,name))
        })

    },
    beforeRouteUpdate(to,from ,next){
      this.name = null
      this.loading = true
      PretendGet((err,name) =>{
        next(vm => vm.setName(err,name))
      })  
    },
    methods: {
        fetch() {
            console.log(this.post)
        },
        // async fetchFun() {

        //     const res = await fetch(`https://jsonplaceholder.typicode.com/posts/${$route.params.fetchid}`)
        //     this.post = await res.json()


        // },
        setName(err,names){
            if(err){
                console.err(err)
            }
            else{
                this.name = names
                this.loading = false
                console.log(this.name)
            }
        }
    }
}
</script>
<template>
    <h1>Fetching before navigation</h1>
    <div v-if="this.loading">Loading..</div>
    <button v-if="this.name">Name:{{name}}</button>
</template>