<script>
import { isNavigationFailure,NavigationFailureType } from 'vue-router';
import AppLink from '../components/AppLink.vue';

  export default{
    methods: {
        async triggerRouteError() {
            const navigationFailure = await this.$router.push("/about");
            if (isNavigationFailure(navigationFailure, NavigationFailureType.redirected)) {
                console.log(navigationFailure.to.path);
                console.log(navigationFailure.from.path);
                window.confirm("Navigation fail");
            }
            else {
                window.confirm("Navigation successfully");
            }
        },
        adddynamicRoute() {
            this.$router.addRoute({
                name: "dynamic",
                path: "/dynamic",
                component: () => import('../views/DynamicPage.vue')
            })
            //   this.$router.addRoute({
            //     name: "dynamic",
            //     path: "/other",
            //     component: () => import('../views/Other.vue')
            // });
            this.$router.removeRoute('dynamic')
        },
        gotoadminsetting() {
            this.$router.addRoute({
                name: 'admin',
                path: '/admin',
                component: () => import('../views/Admin.vue'),
                children: [{ path: 'settings', component: () => import('../views/AdminSetting.vue') }],

            })
        }
    },
    components: { AppLink }
}
</script>
<template>
  <div class="about">
    <button @click="triggerRouteError">Trigger Route error</button>
    <button @click="adddynamicRoute">Add dynamic route</button>
    <AppLink to="/dynamic">App Link dynamic</AppLink>
    <button @click="gotoadminsetting">Go to Admin Setting</button>
    <AppLink to="/admin">Goto Admin</AppLink>
    <AppLink to="/admin/settings">Goto Admin Setting</AppLink>
    <h1>This is an Home page</h1>
    
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
