<template>
    <div>
        <form @submit.prevent='login'>
            <h1>Login</h1>
            <label for="username">Username</label>
            <input v-model="username" type="text" name="username"/>
            <label for="password">Password</label>
            <input v-model="password" type="text" name="password"/>
            <button>Login</button>
        </form>

    </div>
</template>
<script>
    export default{
        data() {
            return {
                username:'',
                password:''
            }
        },
        methods:{
            login(){
                window.user = this.username
                this.$router.push({name:'protected'})
            },
            
            
        },
        //   beforeRouteEnter (to, from, next) {

                //before enter the /login page next() is run and redirect to /about page
                // next({name:'about'})
                // console.log('login')
                // const confirmed = window.confirm('before enter router')
                // if(confirmed){
                //     console.log('true')
                //     next()
                // }
                // else{
                //     console.log('false')
                // }
            // },
            
            beforeRouteLeave (to, from, next) {
                if(this.username === '' && this.password === ''){
                    const confirmed = window.confirm('Are you sure you want to leave?')
                    if(confirmed){
                        next()
                    }
                    else{
                        next(false)
                    }
                }
                else{
                    next()
                }
            },
            // beforeRouteUpdate (to,from) {
            //     console.log(to.fullPath)
            // },  
        
        
    }
</script>