<!-- <script setup>
import { ref } from 'vue';

    const username = ref(window.user);
    const logout = () =>{
        window.user = null
        this.$router.push({name:'home'})
    }
</script> -->
<script>
    export default{
        data(){
            return{
                username:window.user
            }
        },
        methods:{
            logout(){
                window.user = null
                this.$router.push({name:'home'})
            }
        }
    }
</script>
<template>
    <h1>Protected Page</h1>
    <h1>Greeting: {{username}}</h1>
    <button @click="logout">Logout</button>
</template>
