<script setup>
import { onBeforeRouteLeave, onBeforeRouteUpdate } from 'vue-router';

    defineProps(['query']);
    // beforeRouteEnter (to, from, next) {
    //     window.confirm('are you sure you want to exit?');
    //     console.log('before enter');
    // }
   onBeforeRouteLeave((to,from,next) => {
       const confirm = window.confirm('are you sure you want to exit?');
       if(confirm){
            next()
       }
       else{
        next(false)
       }
   })
</script>
<template>
    <h1>Search User Page</h1>
    <h4>{{query}}</h4>
</template>