<script setup>
import { ref, watchEffect } from 'vue';
import { useRoute } from 'vue-router';

    defineProps(['id'])
    const route = useRoute()
    const postbyid = ref(null)
    console.log('chlidcomp run')
    const fetchbyid = async() => {
    const res = await fetch(`https://jsonplaceholder.typicode.com/posts/${route.params.id}`)
        postbyid.value = await res.json()
    }
    watchEffect(
        () => route.params, fetchbyid()
    )
</script>
<template>
    <h1>Child</h1>
    <h4 v-if="postbyid">{{id}} {{postbyid.title}}</h4>
</template>