<script setup>
    import UserSettingNav from './UserSettingNav.vue';
</script>
<template>
    <h1>Setting</h1>
    <UserSettingNav />
    <RouterView />
    <RouterView name="setting"></RouterView>
</template>