<script setup>
    defineProps(['id']);
    
</script>
<template>
    <div>
         <button v-if="$route.params.id == 1" @click="$router.push({ name:'about'})">Go to Home</button>
        <h1>Users overview</h1>
        <p>User id is :{{$route.params.id}}</p>
        <p>Access id using props {{id}}</p>
        <button @click="$router.replace('/users/2')">Goto home</button>
        <RouterLink to="/email">Goto Profile</RouterLink>
        {{$route.query}}
    </div>
</template>