<template>
    <h1>Home</h1>
    <button @click="$router.push('/users/2')">Navigateto user/2</button>
    <RouterLink  :to="{name:'users',params:{id:4}}">navigate to users id=4</RouterLink>
</template>