<script>
    export default{
       
        async asyncData({isDev, route, store, env, params, query, req, res, redirect, error,app}) {
            const post = await app.$http.$get(`https://api.nuxtjs.dev/posts`)
            // console.log(post);
            return {post}
        },
        // middleware({store,redirect}){
        //     const authentication = store.state.authentication
        //     console.log(authentication);
        //     if(!authentication){
        //     return redirect('/Login')
        //     }
        // }
        // async asyncData(context) {
        //     const id = context.params.id
            
        //     try{
        //         const post = await fetch(`https://api.nuxtjs.dev/posts/${id}`)
        //         return {post}
        //         // console.log(data.title)
               
        //     }
        //     catch(e){
        //         context.error(e)
        //     }
        // }
    }
</script>
<template>
    <div class="post">Post : 
        <div class="post" v-for="p in post">
            <div>{{p}}</div>
        </div>
    </div>
</template>
<style scoped>
    .post{
        padding: 1rem;
    }
</style>