<script setup>
import GetStarted from './components/GetStarted.vue'
import Declarative from './components/Declarative.vue'
import AttributeBinding from './components/AttributeBinding.vue'
import EventListner from './components/EventListner.vue'
import FormBinding from './components/FormBinding.vue'
import Conditinal from './components/Conditinal.vue'
import ListRendering from './components/ListRendering.vue'
import ComputeTodo from './components/ComputeTodo.vue'
import LifeCycle from './components/LifeCycle.vue'
import Watcher from './components/Watcher.vue'
import ParentComp from './components/ParentComp.vue'
import PropsExParent from './components/PropsExParent.vue'
import SlotParent from './components/SlotParent.vue'
</script>

<template>
  <!-- step -1 -->
    <GetStarted />
    <!-- step -2 -->
    <Declarative />
    <!-- step -3  -->
    <AttributeBinding />
    <!-- step -4  -->
    <EventListner />
    <!-- step -5 -->
    <FormBinding />
    <!-- step -6 -->
    <Conditinal />
    <!-- step -7 -->
    <ListRendering />
    <!-- step - 8 -->
    <ComputeTodo />
    <!-- step -9 -->
    <LifeCycle />
    <!-- step -10 -->
    <Watcher />
    <!-- step -11 -->
    <ParentComp />
    <!-- step -12 & 13-->
    <PropsExParent />
    <!-- step -14 -->
    <SlotParent />
</template>

<style scoped>

</style>
