<script>
export default {
  name: "IndexPage",
  props: ['showAddTask'],

}
</script>
<template>
  <div>
    <div v-if="showAddTask">
      <AddTask />
    </div>
    <Tasks />
  </div>
</template>
<style >

</style>
