<script setup>
    import { computed, onRenderTracked, onRenderTriggered, ref, shallowRef, watchEffect } from 'vue';
    import { store } from '../../store';
    // import { $ref } from 'vue/macros'
    const A0 = ref(7)
    const A1 = ref(1)
    let count1 = ref(0)
    const A2 = ref(null)

    const arr = ref(['1','2','3','4'])
    const state = shallowRef({name:'ruchi'})
    const shallow = shallowRef(A0)
    console.log(shallow.value)
    const array = shallowRef(arr)
    console.log(array.value)
    watchEffect(() => {
        A2.value = A1.value + A0.value
    })
     state.value.name = 'patel'
     console.log(state)
    state.value = {name :'Ruchi patel1'}
    console.log(state)
    const A3 = computed(() => A1.value + A0.value);
    // let A4 = $ref(0)
    // let A5 = $ref(6)

    // let A6 = computed(() => A4 + A5);
    // onRenderTracked((event) => {
    //     debugger
    // })
    // onRenderTriggered((event) => {
    //     debugger
    // })
//     const plusFun = () => {
//        let plusOne = computed(() => count1.value++, {
//   onTrack(e) {
//     // triggered when count.value is tracked as a dependency
//     debugger
//   },
//   onTrigger(e) {
//     // triggered when count.value is mutated
//     debugger
//   }
//        }
// )
//        return plusOne.value
//     }
</script>
<template>
    <div>CompA</div>
    <button @click="store.increment()">From A: {{store.count}}</button>
    <div>A2 value using computed : {{A2}}</div>
    <div>A3 value using computed : {{A3}}</div>
     <!-- <div>A6 value using computed : {{A6}}</div> -->
    <!-- <button @click="plusFun">Button {{count1}}</button> -->
    <!-- <div>{{name1.name}}</div> -->
</template>
<style>

</style>