<script>
    
</script>
<template>
    <div class="footer-container">Footer</div>
</template>
<style scoped lang="scss">
    .footer-container{
        background-color:$navbarBackGroundColor;
        font-size:2rem;
        @include displayFlex;
    }
</style>