<script>
   
</script>
<template>
    <div :class="[`${$store.state.class.bodyClass}`]"> <!-- class store class name bodyClass inside state-->
        <div class="navbar-container">Navbar</div>
        <div>
            <NuxtLink to="/fade">Fade Transition |</NuxtLink>
            <NuxtLink to="/bounce">Bounce Transition |</NuxtLink>
            <NuxtLink to="/slide">Slide Bottom Transition </NuxtLink>
            <div>
            <NuxtLink to="/middlewre/RouterMiddleware"> Go to Router middleware</NuxtLink>
     </div>
        </div>
    </div>

</template>
<style scoped lang="scss">
    .navbar-container{
        background-color: $navbarBackGroundColor;
        font-size: 2rem;
        @include displayFlex;
    }
    
.index  {
  font-size: 1.5rem;
}

.middlewre-RouterMiddleware {
  font-size: 3rem;
}
</style>