<!-- Please remove this file from your project -->
<template>
  <div>
    <h1>Hello world</h1>
    <NuxtLink to="/About">About</NuxtLink>
    <NuxtLink to="/Contactus">Contactus</NuxtLink>
    <div>To access counter : {{counter}}</div>
  </div>
</template>

<script>
export default {
  name: 'NuxtTutorial',
  computed:{
    counter(){
      return this.$store.state.counter
    }
  },
  mounted() {
    //accessing the root instance
    // console.log(window.$nuxt);
  },
  
}
</script>
