*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
#app{
    width:400px;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1,h3{
    margin-bottom: 1rem;
    font-weight: normal;
}
img{
    border-radius: 50%;
    border: 5px #333 solid;
    margin-bottom: 1rem;
}
.male{
    border-color: steelblue;
    background-color: steelblue;
}
.female{
    border-color: pink;
    background-color: pink;
    color:#333;
}
button{
    cursor: pointer;
    display: inline-block;
    background-color:#333;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 1rem 1.5rem;
}
button:focus{
    outline: none;
}
button:hover{
    transform: scale(0.98);
}