<script setup>
import { ref } from 'vue';

    const titleClass = ref('redColor')
</script>
<template>
    <div>Attribute binding</div>
    <h1 :class="titleClass">Make me red</h1>

</template>
<style>
    .redColor{
        color: red;
    }
</style>