<script setup>
import { computed, ref } from 'vue';

    const newTodo = ref('')
    const hideBtn = ref(false)
    const filterTodos = computed(() => {
        return hideBtn.value ? todos.value.filter((t) => !t.done) : todos.value
    })
    let id = 0
    const todos = ref([
        {id:id++,text:'Learned HTML',done:false},
        {id:id++,text:'Learned Javascript',done:true},
        {id:id++,text:'Learn Vue',done:false}
    ])
    const addTodo = () => {
        todos.value.push({id:id++,text:newTodo.value,done:false})
    }
    const removeTodo = (todo) => {
        todos.value = todos.value.filter((t) => t !== todo)
    }
</script>
<template>
    <div>List Rendering</div>
    <form >
        <input v-model="newTodo" />
        <button @click.prevent="addTodo">Add Todo</button>
    </form>
    <ul>
        <li v-for="todo in filterTodos" :key="todo.id">
            <input type="checkbox" v-model="todo.done" />
            <span :class="{completed:todo.done}">{{todo.text}}</span>
            <button @click="removeTodo(todo)">Remove</button>
        </li>
    </ul>
    <button @click="hideBtn = !hideBtn">
        {{hideBtn ? 'Show all': 'Hide Completed'}}
    </button>
</template>
<style>
    .completed{
        text-decoration: line-through;
    }
</style>