<script setup>
    import {reactive, ref} from 'vue'
    const messageDynamic = ref('Make me dynamic!')
    const counter =  reactive({
        count:0
    });
</script>
<template>
    <h1>Dynamic message : {{messageDynamic}}</h1>
    <button @click="counter.count++">Increment Counter</button> {{counter.count}}
</template>
<style>

</style>