<script setup>
import { ref } from 'vue';

const count = ref(0)
const Increment = () => {
    count.value++
}
</script>
<template>
    <button @click="count++">Inline Count is: {{count}}</button><br />
    <button @click="Increment">Using Function Count is:{{count}}</button>
</template>
<style>
</style>