<script setup>
import { ref } from 'vue';

    const text = ref('')
    const text1 = ref('')
    const onInput = (e) => {
        text.value = e.target.value
    }
</script>
<template>
    <div>
        <span>Type something </span>
        <div>Using v-bind and v-on </div>
        <input :value="text" @input="onInput" placeholder="Type hear"/>
        <div>Input text :{{text}}</div>

        <div>Using v-model</div>
        <input v-model="text1" placeholder="Type Hear"/>
        <div>Input text : {{text1}}</div>
    </div>
</template>