<script setup>
import { onMounted, ref } from 'vue';
    const pTagRef = ref(null)
    onMounted(() => {
        pTagRef.value.textContent = 'Mounted'
    })
</script>
<template>
    <div>Life cycle and template ref</div>
    <p ref="pTagRef">Hello</p>
</template>
<style>

</style>