<script setup>
import { ref } from 'vue';

    const newTodo = ref('')
    let id = 0
    const todos = ref([
        {id:id++,text:'Learned HTML'},
        {id:id++,text:'Learned Javascript'},
        {id:id++,text:'Learn Vue'}
    ])
    const addTodo = () => {
        todos.value.push({id:id++,text:newTodo.value})
    }
    const removeTodo = (todo) => {
        todos.value = todos.value.filter((t) => t !== todo)
    }
</script>
<template>
    <div>List Rendering</div>
    <form >
        <input v-model="newTodo" />
        <button @click.prevent="addTodo">Add Todo</button>
    </form>
    <ul>
        <li v-for="todo in todos" :key="todo.id">
            {{todo.text}}
            <button @click="removeTodo(todo)">Remove</button>
        </li>
    </ul>
</template>