<script setup>
    import { ref } from 'vue';
    import PropsExChild from './PropsExChild.vue'
    const greeting = ref('hello from parent')
    const greeting1 = ref('no child msg yet')
</script>
<template>
    <PropsExChild :msg='greeting' />
    <PropsExChild  @response='(msg) => greeting1 = msg'/>
    <h1>Child emit msg :{{greeting1}}</h1>
</template>