<script setup>
    import {ref } from 'vue';
    import SlotChild from './SlotChild.vue'

   
    const msg = ref('Msg from Parent and pass default slot')
   
</script>
<template>
    <SlotChild >Message : {{msg}}</SlotChild>

</template>