<script setup>
    import { ref, watch, watchEffect } from 'vue';

    const todoId = ref(1);
    const todoData = ref(null)
    async function fetchTodoData() {
        todoData.value = null
        const res = await fetch(`https://jsonplaceholder.typicode.com/todos/${todoId.value}`)
        todoData.value = await res.json()
         
    }
    // fetchTodoData()
    // watch(todoId,fetchTodoData);
    watchEffect(fetchTodoData)
</script>
<template>
    <div>Watchers</div>
    <p>Todo id: {{todoId}}</p>
    <button @click="todoId++">Fetch next todo</button>
    <div v-if="!todoData">Loading..</div>
    <div v-else>{{todoData}}</div>
</template>
<style>

</style>