<template>
    <div class="containerCustom">
        <h2>My custom container</h2>
        <Nuxt  class='nuxtContainer'/>
    </div>
</template>
<style >
    .containerCustom{
        background-color: slateblue;
    }
    .nuxtContainer{
        max-width: 800px;
        max-height: 800px;
        background-color: white;
        border: 1px solid red;
        font-size: 10px;
    }
</style>