<script>
    import Navbar from '../components/Navbar.vue'
    import Footer from '../components/Footer.vue'
    export default{
        components:{
            Navbar,
            Footer
        },
        transitions:{
            appear:true,
            mode:'in-out'
        },
        // provide:{
        //         hello:'hello ruchi1'
        // },
    }
</script>
<template>
    <div >
        <div v-if="$nuxt.isOffline">You are offline</div>
    <div v-else>
        <Navbar />
        <!-- <Nuxt keep-alive :keep-alive-props='{max:2}'/> -->
        <Nuxt keep-alive class="position"/>
        <Footer />
    </div>
    </div>
</template>
<style scoped lang="scss">
    .position{
        text-align: center;
        
    }
</style>