<script>
    export default{
        props:['error'],
        data: () => ({
            title: '404-Page Not Found',
            description: 'Error page'
        }),
       
        head () {
            return {
            title: this.title,
            meta: [{
                hid: 'description',
                name: 'description',
                content: this.description
            }]
            }
        },
        // layout:'CustomLayout' //vue chrome extension display this name in customlayout error display
    }
</script>
<template>
    <div>
        <h2 v-if="error.statusCode === 404">Page not found</h2>
        <h2 v-else>An errored occurred</h2>
        <NuxtLink to="/">Home page</NuxtLink>
    </div>
</template>