<script setup>
import { ref, onErrorCaptured } from 'vue';
import Users from './Users.vue';
const errMsg = ref(null)
onErrorCaptured((error) => {
    errMsg.value = error.message;
    // errMsg.value = "Somethings went wrong"
});
</script>
<template>
    <h1>Suspense Example</h1>
    <div v-if="errMsg">{{errMsg}}</div>
    <Suspense v-else>
        <template #default>
            <Users />
        </template>
        <template #fallback>
            <div>Loading ...</div>
        </template>
    </Suspense>
</template>
<style>
</style>