<script >
    import axios from 'axios';
    import { ref } from 'vue';
    import User from './User.vue';
   export default{
    async setup() {
        const users = ref(null);
        const res = await axios.get("https://jsonplaceholder.typicode.com/users");
        users.value = res.data;
        return {
            users
        };
    },
    components: { User }
}
</script>
<template>
    <h2>Users</h2>
    <User v-for="user in users" :key="user.id" :user='user'/>
</template>
<style> 

</style>