<script>
export default {
    name: 'defaultLayout',
    data() {
        return {
            showAddTask: false
        }
    },
    created() {
        this.$nuxt.$on('toggleAddTask', () => {
            this.showAddTask = !this.showAddTask
        })
    },
   
}
</script>
<template>
    <div class="container">
        <div v-if="$nuxt.isOffline">You are offline</div>
        <div v-else>
            <Header title="Task Tracker" :showAddTask='showAddTask' />
            <NuxtChild :showAddTask='showAddTask' />
            <Footer />
        </div>
    </div>
</template>
<style >
    @import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';
  
</style>
