body{
    background-color: rgba(225, 229, 235, 0.652);
}
a{
    text-decoration: none;
    color: green;
}
h1{
    color: red;
}
/* .nuxt-link-active{
    color: red;
} */
/* .nuxt-link-exact-active {
    font-weight: bold;
} */
.my-custom-active-link{
    background-color: red;
    color: white;
}
.my-custom-exact-active-link{
    background-color: green;
    color:white
}
.page-enter-active,.page-leave-active{
    transition: opacity 0.25s ease-in-out,transform 0.45s ease-in-out;
}
.page-enter,.page-leave-to{
    opacity: 0;
    transform: translateX(50px);
}
.layout-enter-active,.layout-leave-active{
    transition: opacity 0.25s ease-in-out,transform 0.45s ease-in-out;
}
.layout-enter,.layout-leave-to{
    opacity: 0;
    transform: translateY(100px);
}
.home-enter-active, .home-leave-active { transition: opacity .5s; }
.home-enter, .home-leave-active { opacity: 0; }
.bounce-enter-active{
    transform-origin: top;
    animation: bounce-in 0.8s;
}
.bounce-leave-active{
    transform-origin: top;
    animation: bounce-out 0.5s;
}

@keyframes bounce-in{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes bounce-out{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.25);
    }
    100%{
        transform: scale(0);
    }
}
.slide-bottom-enter-active,.slide-bottom-leave-active{
    transition:  opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}
.slide-bottom-enter,.slide-bottom-leave-to{
    opacity: 0;
    transform: translate3d(0,15px,0);

}
.imageContainer{
    background: url('~assets/Images/download.png');
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
}