<script >
import { computed } from 'vue';
import { useStore } from 'vuex';

    export default{
        setup () {
             const store = useStore()
                return {
                    count :computed(() => store.state.count),
                    incrementBy:() => store.commit('incrementBy',10),
                    incrementByAsync:() => store.dispatch('incrementByAsync',11),
                    doneTodos:computed(() => store.getters.doneTodos)
                }
        }
    }
</script>
<template>
    <h1>
        Use store in Composition api
    </h1>
    <h4>{{count}}</h4>
    <button @click="incrementBy">Increment using Mutation</button>
    <button @click="incrementByAsync">Increment using Action</button>
    <h4>{{doneTodos}}</h4>
</template>