<script>
import { mapGetters, mapMutations, mapState } from 'vuex'


    export default{
        // computed:{
        //     count(){
        //         return this.$store.state.count
        //     },
        //     products(){
        //         return this.$store.state.products
        //     },
        //     doneTodosCount(){
        //         return this.$store.getters.doneTodosCount
        //     },
            
        // },

        // computed:mapGetters({
        //     doneTodosCount:'doneTodosCount',
        // }),
        // computed:mapGetters(['doneTodosCount']),
        computed:{
            // count(){
            //     return this.$store.state.count
            // },
            // products(){
            //     return this.$store.state.products
            // },
            ...mapState(['count','products','countPayload']),
            ...mapGetters(['doneTodosCount'])
        },
        // methods:{
        //     increment(){
        //         this.$store.commit('increment')
        //         this.$store.commit('incrementByUsingPayload',{amount:29})
        //         this.$store.commit('incrementBy',8)
        //         console.log(this.$store.state.count)
        //         console.log(this.$store.getters.doneTodos)
        //         console.log(this.$store.getters.doneTodosCount)
        //         console.log(this.$store.getters.getTodoById(4))
             
        //     }
        // }
        // methods:mapMutations([
        //     'increment','incrementBy','incrementByUsingPayload','decrement'
        // ])
        methods:{
            onClickAction(){
                this.$store.dispatch('incrementAsync')
                this.$store.dispatch('incrementByAsync',10)
                
            },
            onDecrement(){
                // this.$store.dispatch('decrementByAsync').then(()=>{
                //     this.$store.dispatch('multiplicationAsync')
                //     // this.$store.commit('multiplication')
                // })
                this.$store.dispatch('multiplicationAsync')
            },
            ...mapMutations([
                'increment','incrementBy','incrementByUsingPayload','decrement'
            ])
        }
    }
</script>
<template>
    <h1>Count is : {{count}}</h1>
    <button @click="increment">Count Increment </button>
    <button @click="decrement">Count Decrement</button>
    <h3 v-for="product in products">Id :{{product.id}},Name :{{product.name}}, Price:{{product.price}}</h3>
    <h1>Done Todo is: {{doneTodosCount}}</h1>
    <h1 @click="incrementBy(5)">Click me Increment by {{count}}</h1>
    <h1 @click="incrementByUsingPayload({amount:10})">Count Payload  this.$store.commit('incrementByUsingPayload',{amount:29}) : {{countPayload}}</h1>
    <h1 @click="onClickAction">Increment using actions {{count}}</h1>
    <h1 @click="onClickAction">Increment using number actions {{count}}</h1>
    <h1 @click="onDecrement">Decrement using actions {{count}}</h1>
    

</template>