<script>
import { mapState } from 'vuex';

    export default{
        computed: {
            // message(){
            //     return this.$store.state.message
            // },
            anotherMessage:{
                get(){
                    return this.$store.state.anotherMessage
                },
                set(value){
                    this.$store.commit('updateanotherMessage',value)
                }
            },
            ...mapState([
                'message'
            ])
        },
        methods:{
            updateMessage(e){
                this.$store.commit('updateMessage',e.target.value)
            }
        }
    }
</script>
<template >
    <h1>Form Handling</h1>
    <p>{{message}}</p>
    <input :value="message" @input="updateMessage"/>
    <h1>Two way computed propery</h1>
    <p>{{anotherMessage}}</p>
    <input v-model="anotherMessage" />
</template>