<script >
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'

    export default{
        computed:{
           
            ...mapState({
                moduleBtodos:state => state.moduleB.moduleBtodos,
                countA:state => state.moduleA.count,
                countB:state => state.moduleB.count,
                count : state => state.count,
                subModuleCount : state => state.moduleB.subModule.subModuleCount,
                Plugincount : state => state.Plugincount
            }),
            
            // ...mapGetters({
            //     moduleBDoneTodos:'moduleB/ModuleBdoneTodos',
            //     moduleBdoneTodosCount:'moduleB/displayGlobalState',
               
            // })
            ...mapGetters('moduleB',['moduleBdoneTodos','displayGlobalState'])
            
        },
        methods:{
            displayCountA(){
                this.$store.commit('moduleA/increment')
                console.log(this.$store.state.moduleA.count)
               
            },
            onPluginCall(){
                 this.$store.commit('showCount')
            },
            displayCountB(){
                this.$store.commit('moduleB/increment')
                console.log(this.$store.state.moduleB.count)
            },
            incrementByAsync(){
                this.$store.dispatch('moduleB/incrementByAsync')
            },
            doSomeGlobalChanges(){
                this.$store.dispatch('moduleB/doSomeGlobalChanges')
            },
            // ...mapMutations('moduleB/subModule',['increments']),
            ...mapMutations({
                subModuleIncrement:'moduleB/subModule/increments'
            }),
            
        }
    }
</script>
<template>
    <h1 @click="displayCountA">Display Count Module A: {{countA}}</h1>
    <h1 @click="displayCountB">Display Count Module B: {{countB}}</h1>
    <h1>Display ModuleB/SubModule state count {{subModuleCount}}</h1>
    <button @click="subModuleIncrement">Click to increment submoduleCount value</button>
    <h1>ModuleB todos:</h1>
    <p>{{moduleBtodos}}</p>
    <h1>ModuleB done todos using getters :</h1>
    <p>{{moduleBdoneTodos}}</p>
    <h1>ModuleB access global rootState:</h1>
    <!-- <p>{{moduleBdoneTodosCount}}</p> -->
    <p>{{displayGlobalState}}</p>
    <h1 @click="incrementByAsync">incrementByAsync in module B</h1>
    <h1 @click="doSomeGlobalChanges">Decrement Global state {{count}}</h1>
    <h1 @click="onPluginCall">Plugin incrementalCount :{{Plugincount}}</h1>
</template>